{% extends "layout.html" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  <a href="/design-history/contents" class="govuk-back-link">Back to design history contents</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">September 2022</span>
      <h1 class="govuk-heading-xl">Creating the remaining tasks in the list</h1>
      <p class="govuk-body">We've chunked the task list into four sections at
        this stage. This update is about the third section and the fourth
        section.</p>
      <h2 class="govuk-heading-l">Chunking the tasks into sections</h2>
      <p class="govuk-body">There is a collection of tasks a caseworker needs to
        complete to make sure the school can open as an academy. We've named
        this section “Get ready for opening” in the prototype.</p>
      <p class="govuk-body">There are also a set of tasks that can be completed
        after the academy opens. We've named this section, “Completing the
        project” in the prototype.</p>
      <p class="govuk-body">These names may change based on feedback from users
        during Private Beta. For now, anecdotally, users seem to be comfortable
        with the two names.</p>
      <p class="govuk-body">However, what constitutes a complete project and
        whether it's a caseworker that does that, and whether these are the
        tasks that complete it, is still to be confirmed. We may switch to
        something more like “Closing the project”, if completing doesn't feel
        like the right word.</p>
      <h2 class="govuk-heading-l">Why we want to split the tasks into two
        sections</h2>
      <p class="govuk-body">We wanted to chunk these tasks up into separate
        sections of the task list.</p>
      <p class="govuk-body">The thinking behind this was that this would help
        users to focus on what needs to be done for a certain deadline and
        deprioritise tasks that can be completed later.</p>
      <p class="govuk-body">This should help to meet the user needs to keep
        track of project progress and to manage their workload.</p>
      <p class="govuk-body">We already knew from much earlier research that
        there were certain tasks that must be completed before a school can open
        as an academy, and others than can take place after opening. We felt
        that naturally lent itself to two different sections of tasks.</p>
      <h2 class="govuk-heading-l">Finding out what tasks were needed</h2>
      <p class="govuk-body">We had a rough idea of <a href="https://lucid.app/lucidspark/6e122b8e-c7bc-4641-97b9-59d7f1620608/edit?invitationId=inv_f8ca717b-b25d-47d0-be67-0b8838e36bcf#" class="govuk-link" rel="noreferrer noopener" target="_blank">
        the tasks we expected to be in the final two sections in the original
        Figma sketches (opens in a new tab)</a> we created.</p>
      <p class="govuk-body">This had been slightly finessed based on bits of
        information we'd gathered from speaking to users throughout the process
        so far.</p>
      <p class="govuk-body">However, we needed to properly validate what tasks
        were completed at what stage, and what it is caseworkers need to do.</p>
      <h2 class="govuk-heading-l">What we learnt</h2>
      <p class="govuk-body">Through research with users, we were able to define
        a set of tasks that must be completed before an academy can open.</p>
      <p class="govuk-body">Tasks that must be done before an academy can open
        are:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Check the Baseline</li>
        <li>Complete and approve Single worksheet</li>
        <li>Complete the final checklist with external stakeholders</li>
        <li>Confirm all conditions have been met</li>
        <li>Confirm opening date with the school</li>
      </ul>
      <h2 class="govuk-heading-l">What we'll do next</h2>
      <p class="govuk-body">We've long had a suspicion that the Single Worksheet
        wasn't a necessary document.</p>
      <p class="govuk-body">Since we drafted these task sections, further
        research has shown that while caseworkers enter 50 different bits of
        data to this worksheet only 4 of those pieces of information are used by
        anyone else.</p>
      <p class="govuk-body">As far as we can tell, this means we can create a
        way of collecting and sharing that information through the service
        directly, and eventually remove the need for the Single Worksheet
        altogether.</p>
      <p class="govuk-body">Further research with other user groups including
        regional delivery officers, the academy operations team and the
        Education and Skills Funding Agency should tell us more about what
        information provided by the case workers is used.</p>
      <p class="govuk-body">This should help us identify areas to improve the
        task list, as well as test and add new functionality to the build.</p>
      <p class="govuk-body">We found through research that the final task on the
        list, Complete processing of conversion grant, is inaccurately named.</p>
      <p class="govuk-body">We've got <a href="https://trello.com/c/Ae2lwvNX/597-content-iterations-from-sprint-7" class="govuk-link" rel="noreferrer noopener" target="_blank">
        a Trello card to do some work tweak the content in these sections</a>
        of the task list before Private Beta. </p>
      <p class="govuk-body">This work includes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Rename the final conversion grant task to reference grant
          certificate</li>
        <li>Rename the clear legal documents section to include reference to
          signing tasks</li>
        <li>Add a sign and seal actions set to the Supplemental funding
          agreement task</li>
        <li>Clarify actions and add small piece of new guidance to Single
          worksheet task</li>
        <li>Remove and consolidate some actions from the ESFA handover task</li>
      </ul>
    </div>
  </div>
{% endblock %}
