{% extends "layout.html" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  <a href="/design-history/contents" class="govuk-back-link">Back to design history contents</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">July and August 2022</span>
      <h1 class="govuk-heading-xl">How to present task list actions</h1>
      <p class="govuk-body">We have high confidence that a task list is the right 
        solution for our users, based on previous research and co-design sessions 
        with our users.</p>
        <p class="govuk-body">We want to understand more about how the list of 
          actions would be most useful to caseworkers.</p>
      <h2 class="govuk-heading-l">Design variations</h2>
        <p class="govuk-body">We created a couple of different design options to 
          present the task list actions.</p>
        <p class="govuk-body">First, we had the typical, one question per page approach. 
          This guided users through the actions in a task one-by-one, in a fixed order.</p> 
          <img src="/public/images/design-history/one-action-per-page.png" alt="A screenshot from the prototype showing one task action, framed as a question, on a page"  width="600" 
          height="371">
        <p class="govuk-body">At the end of those questions, a check answers page was 
          presented which gave the user the opportunity to make alterations to the 
          information they've entered.</p>
        <p class="govuk-body">This would help to reduce cognitive load, breaking tasks up 
            into smaller chunks so they felt easier to manage and complete.</p>
        <p class="govuk-body">We also created a view that showed all the actions for a task 
          on one page.</p>
        <p class="govuk-body">Questions or steps were stacked one top of each other, so that users 
           could scroll up and down a page, entering the information they needed without being 
           locked into a specific order.</p>
           <img src="/public/images/design-history/all-actions-one-page.png" alt="A screenshot from the prototype showing all actions for a task on a page"  width="600" 
           height="877">
        <p class="govuk-body">This helped users to avoid being forced through a linear set of 
          questions if they needed to amend an answer.</p>
      <h2 class="govuk-heading-l">Project notes</h2>
        <p class="govuk-body">We also added project level notes.</p>
        <p class="govuk-body">We've heard consistently from caseworkers throughout our research, 
          going as far back as our early co-design sessions, that the ability to add notes is 
          important for them.</p>
        <p class="govuk-body">Notes help them in several ways, as we understand it. They serve as 
        communication tools for team leaders and caseworkers when work is handed over from one 
        person to another due to holiday, illness or simply for updates on projects.</p>
        <img src="/public/images/design-history/project-notes.png" alt="A screenshot from the prototype showing the project notes function"   width="600" 
        height="696">
        <p class="govuk-body">Notes also function as useful reminders for some users. They juggle 
        multiple projects and can struggle to remember details of certain projects when turning 
        attention from one to the other.</p>
        <p class="govuk-body">We wanted to find out how useful these were.</p>
      <h2 class="govuk-heading-l">The research</h2>
        <p class="govuk-body">We carried out 3 sessions, each an hour long, with caseworkers. The 
        participants were a mixture of experience levels, with some in the role just a few months 
        and others in the role for a year or more.</p>
        <p class="govuk-body">We wanted to understand:</p>
          <ul class="govuk-list govuk-list--bullet">
           <li>If the single page concept was helpful</li>
           <li>How users grouped the documents they use</li>
           <li>Whether project level notes were useful</li>
          </ul>
      <h2 class="govuk-heading-l">Research findings</h2>
        <p class="govuk-body">We learnt some interesting things and have more confidence in the method 
        we use to guide users through the process.</p>
      <h3 class="govuk-heading-m">The gudiance is helpful, but needs some tweaks</h3>
        <p class="govuk-body">Caseworkers were positive about the guidance, especially links to forms and SharePoint pages they needed to use.</p>
        <p class="govuk-body">Users preferred the guidance in the current version of the task list as it helped them remember what to do.</p>
        <p class="govuk-body">Expert users felt this would save them time (for example, they wouldn't have to find bookmarks of saved links) and help new starters.</p>
        <p class="govuk-body">We need to correct some minor errors in, and add missing information to, the guidance content. For example, users refer to the ESFA as the Grant payments team, not ESFA.</p>
        <p class="govuk-body">Users said that including email addresses for teams they needed to contact would be useful and save them time.</p>
      <h3 class="govuk-heading-m">Checklists help show progress more clearly</h3>
        <p class="govuk-body">Users preferred the checkboxes in the earlier versions of the task list to help them understand progress on a task.</p>
        <p class="govuk-body">They liked the bullet list guidance of things to do or check in a task in this iteration. However, some expressed a desire to be able to tick those things off.</p>
      <h3 class="govuk-heading-m">Reaction to the single page view was mixed</h3>
        <p class="govuk-body">Most users preferred the single page view of task actions, but felt that seeing all of the document tasks on one page could be overwhelming.</p>
        <p class="govuk-body">Opinion was split on whether the Trust modification order and Direction to transfer should be grouped together in the same task as the other land documents because the method used to process them is different.</p>
      <h3 class="govuk-heading-m">Caseworkers really want notes</h3>
        <p class="govuk-body">Users felt that the project notes were useful for a quick overview and keeping colleagues updated.</p>
        <p class="govuk-body">Users again expressed a desire for task level notes as they would be more helpful for keep track of progress and delays for personal reference and reminders.</p>
      <h3 class="govuk-heading-m">Dates seem important but we need to know more</h3>
        <p class="govuk-body">All users mentioned adding the date they completed a task would be helpful.</p>
        <p class="govuk-body">However, but when questioned it was unclear if it was useful for them to complete the task, or for the organisation to collect information and users simply felt they needed it because it's what they currently do.</p>
      <h3 class="govuk-heading-m">Missing step</h3>
        <p class="govuk-body">There's a step missing from the Process conversion grant task about confirming the date the grant will be paid.</p>
      <h2 class="govuk-heading-l">What we'll do next</h2>
        <p class="govuk-body">We're taking a brief break from adding new features to the prototype. 
          This will allow the real thing and the prototype to align better.</p>
        <p class="govuk-body">We're acting on the research to:</p>
         <ul class="govuk-list govuk-list--bullet">
            <li>Review the task list version</li>
            <li>Incorporate guidance with simple checklist</li>
            <li>Switch to the single page approach</li>
            <li>Make each document its own item on the task list</li>
            <li>Review the order of the documents in the task list</li>
            <li>Add a missing step from the Process conversion grant task</li>
            <li>Iterate guiance to provide clearer informaton</li>
          </ul>
       <p class="govuk-body">We're also thinking about what we might test next.</p>
       <p class="govuk-body">To help the prototype and build get closer together, we're thinking about 
         the language we use in the task action radio buttons and how we could simplify the statuses.</p>
    </div>
  </div>
{% endblock %}
