{% extends "layout.html" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  <a href="/design-history/contents" class="govuk-back-link">Back to design history contents</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">August 2022</span>
      <h1 class="govuk-heading-xl">Ordering the document tasks</h1>
      <p class="govuk-body">We wanted to make sure that the documents in our
        tasklist were arranged in an order that made sense to users.</p>
      <p class="govuk-body">So, we worked with them to understand what should
        go where.</p>
      <h2 class="govuk-heading-l">Co-designing document order</h2>
      <p class="govuk-body">We ran a <a href="https://lucid.app/lucidspark/6e122b8e-c7bc-4641-97b9-59d7f1620608/edit?invitationId=inv_f8ca717b-b25d-47d0-be67-0b8838e36bcf#" class="govuk-link" rel="noreferrer noopener" target="_blank">
        workshop with users to understand what order made most sense
        (opens in new tab)</a> to them.</p>
      <p class="govuk-body">We provided them with a few different options to
        spark discussion.</p>
      <p class="govuk-body">One list was alphabetical, one was chronological
        and another saw documents grouped into themes such as land documents
        and financial documents.</p>
      <p class="govuk-body">Users opted for the chronological order, with
        documents that are always used at the top and the optional documents
        beneath.</p>
      <h2 class="govuk-heading-l">Putting things in the order that users do them</h2>
      <p class="govuk-body">With the order of tasks in the Project kick-off
        section already in chronological order, this similar ordering for
        document tasks felt like a consistent approach to take.</p>
      <p class="govuk-body">When we ran user research for the first two sets of
        tasks in the task list, users broadly agreed and were happy that the
        ordering of tasks was logical and helpful.</p>
      <p class="govuk-body">However, throughout the discovery and further
        research, users commented that's no one project is ever the same. Each
        project requires different combinations of documents, and tasks are
        started or completed at various times. It all depends on the complexity
        of the project, and the response time of the school and their
        stakeholders.</p>
      <p class="govuk-body">While we've tried to put tasks in the order in which
        user typically do them, the task list is not prescriptive.</p>
      <p class="govuk-body">Not all documents are required for each project, so
        they can be marked as not applicable if necessary.</p>
      <p class="govuk-body">We've also removed the numbers from the task section
        headings. We felt this could give an impression of having to tackle the
        tasks in particular order, but as we've learnt about the way caseworkers
        handle projects, it's become clear that projects of not methodical,
        linear processes.</p>
      <p class="govuk-body">Users can start a task whenever they have the
        information they need to do it. Tasks are not necessarily dependent on
        other tasks being completed before they can be started.</p>
      <p class="govuk-body">The prototype and the build reflect this.</p>
      <h2 class="govuk-heading-l">What we'll do next</h2>
      <p class="govuk-body">While this is all true now, things may change as we
        understand more about the other tasks in the project.</p>
      <p class="govuk-body">We'll apply this chronological approach to other
        tasks in the later part of the task list, but research may mean we have
        to re-evaluate that.</p>
    </div>
  </div>
{% endblock %}
