{% extends "layout.html" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  <a href="/design-history/contents" class="govuk-back-link">Back to design history contents</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">August and September 2022</span>
      <h1 class="govuk-heading-xl">Showing legal document task progress</h1>
      <p class="govuk-body">There are several actions and states that legal
        documents go through. We wanted to find the best way to show this, so
        users can quickly understand progress on a task.</p>
      <h2 class="govuk-heading-l">Document stages</h2>
      <p class="govuk-body">First, we needed to clearly understand the steps and
        stages a legal document task went through.</p>
      <p class="govuk-body">We knew that not all documents were used in every
        project. There are a couple of core documents that every project must
        use, but the rest depend entirely on the school's circumstances.</p>
      <p class="govuk-body">Through the research and informal conversations with
        caseworkers, we established a clear list of documents, what's always
        required, what's options and what stages they go through.</p>
      <p class="govuk-body">There are several <a href="https://lucid.app/lucidspark/8631409b-3034-443e-9d6d-cfef0b2fd8ef/edit?invitationId=inv_1c6e5618-fd17-4d9a-b12b-cac481ac650d" class="govuk-link" rel="noreferrer noopener" target="_blank">
        stages in a document's development through a conversion (opens in a new
        tab)</a> project.</p>
      <p class="govuk-body">Documents can be:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Not started </li>
        <li>In progress</li>
        <li>Complete</li>
      </ul>
      <p class="govuk-body">Secondly, we can show project progress through the
        language we use alongside the task action checkboxes.</p>
      <p class="govuk-body">With a combination of clear language and short
        descriptions that use words the caseworkers are familiar with to
        describe the status or action next to the checkbox, and the interactive
        element of the checkbox used to tick the action off as done or not done,
        we expect that the user will be able to quickly establish the status and
        progress of a document and the tasks and actions related to it.</p>
      <h2 class="govuk-heading-l">What we'll do next</h2>
      <p class="govuk-body">We need to test that this design works and users are
        able to understand project and task progress.</p>
      <p class="govuk-body">To bring our status tags in line with other products
        in the division, we need to update complete to completed.</p>
      <p class="govuk-body">We're also aware that as we learn more about the
        process, there may be a need for further status tags to help
        differentiate more clearly and specifically. We need to learn more about
        this.</p>
    </div>
  </div>
{% endblock %}
