{% extends "layout.html" %}

{% block pageTitle %}
{{serviceName}}
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  <a href="/design-history/contents" class="govuk-back-link">Back to design history contents</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">June 2022</span>
      <h1 class="govuk-heading-xl">Turning Figma screens into a prototype.</h1>
      <h2 class="govuk-heading-l">Changes to the team</h2>
      <p class="govuk-body">During May and June, the make-up of the team changed. 
        We said goodbye to existing team members and welcomed new ones.</p>
      <p class="govuk-body">This meant there was a period of newcomers understanding
        the problem we're trying to solve, the team evaluating what had been learnt
        and designed so far, and what we would do next.</p>
      <h2 class="govuk-heading-l">First slice of value to users</h2>
      <p class="govuk-body">While the initial concept had some validation, we felt it
        was important to begin investigating how true that was through user research.</p>
      <p class="govuk-body">That would mean we could observe them using a thing, and we 
        could learn from that.</p>
      <p class="govuk-body">This would help us to deliver our first slice of value - 
        helping users keep track of a project - as quickly as possible.</p>
      <p class="govuk-body">The plan was for us to then learn what users thought about 
        those designs, and the task list in particular).</p>
      <p class="govuk-body">Those findings would then feed into iterations and next stages.</p>
      <h2 class="govuk-heading-l">Creating and iterating the Figma screens in code</h2>
      <p class="govuk-body">Using the GOV.uk prototype kit, we started building the task
        list first.</p>
      <p class="govuk-body">Taking the list from the Figma screens we created the 
      list of things users need to do, as we understood them at the time.</p>
      <h2 class="govuk-heading-l">Tasklist sections</h2>
      <p class="govuk-body">This was broken down into sections that were grouped based on the
        orders delivery officers created in the co-design session we had with them in May 2022.</p>
      <p class="govuk-body">The sections were:</p>
      <ol class="govuk-list govuk-list--number">
        <li> Project kick-off </li>
        <li> Clear legal documents </li>
        <li> Get ready for opening </li>
        <li> After opening </li>
      </ol>
      <h2 class="govuk-heading-l">Tasks in each section</h2>
      <p class="govuk-body">We also began to create the tasks that would sit in each 
        section, starting with the handover task.</p>
      <p class="govuk-body">The plan was to present this to users as a journey, so we
        could learn whether the concept was right and how we'd need to update and 
        change it to meet their needs.</p>
      <p class="govuk-body">Users would be able select a task from the section list. 
        Once they opened the task, they would be asked a short series of questions 
        that would act as prompts to take action or checks that the right documents 
        had been received and information or data was correct.</p>
      <h2 class="govuk-heading-l">Testing the prototype with users</h2>
      <p class="govuk-body">We wanted to test our assumption about the task groups, 
        the title and information in each task.</p>
        <p class="govuk-body">To do this, we ran a closed card sorting exercise.</p>
        <p class="govuk-body">This meant we could learn if:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>users understood the language used to describe the tasks</li>
          <li>the groups of tasks made sense to their mental models</li>
        </ul> 
        <p class="govuk-body">There's a complex web of legacy systems, shadow systems 
          and supporting documents that delivery officers use to do their work.</p>
        <p class="govuk-body">We know that our MVP won't replace the need for all these, 
          but we wanted to get feedback on our first version of the prototype.</p>
        <p class="govuk-body">This would help us learn how valuable it is now, and 
          which features in our roadmap we should prioritise next.</p>
        <h2 class="govuk-heading-l">Research findings</h2>
        <p class="govuk-body">From that research, we found:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>The task list is valuable. Right now, there is no single way to capture all the tasks delivery officers need to do</li>
          <li>The task list needs to be flexible as there is flexibility in how users complete tasks. Some tasks depend on the type of school or project, and some must happen at a specific time relative to the opening date.</li>
          <li>Delivery officers need to be able to add comments to keep track of project progress</li>
          <li>The legacy systems don't capture all the information DfE needs. Delivery officers must fill in lots of separate documents to provide this. This is time consuming and repetitive</li>
          <li>The data DfE needs is not always useful to a delivery officer's completing a project</li>
        </ul>
      <p class="govuk-body">We will use these findings to inform the next round of changes we make to the task list.</p>
      <p class="govuk-body">We also learnt that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>A shared task list would be useful as external stakeholder management takes up a lot of time. Delivery officers have created tools outside of the current legacy system to help manage these actions</li>
        <li>Delivery officers have created work arounds to help keep track of all their projects. If we don't provide a status overview of all projects, delivery officers will carry on using their workarounds</li>
      </ul>
      <p class="govuk-body">We need to consider these findings in future phases of the project.</p> 
    </div>
  </div>
{% endblock %}
