{% extends "layout.html" %}

{% block pageTitle %}
  Complete conversions transfers and changes
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {% include "../includes/phase.html" %}
  <a href="../project-task-list" class="govuk-back-link">Back to task list</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="check-answers" method="post" class="form">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <span class="govuk-caption-l">St. Wilfred's Primary School</span>
                  <h1 class="govuk-fieldset__heading">Check answers</h1>
                </legend>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Have you checked and cleared the Land questionnaire?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{data['clearLandQuestionnaire']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="clear-land-questionnaire">
                        Change<span class="govuk-visually-hidden"> Have you
                          checked and cleared the Land questionnaire?</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Have you cleared the land registry title plans?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{data['clearLandRegistry']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="clear-title-plans">
                        Change<span class="govuk-visually-hidden"> Have you
                          cleared the land registry title plans?</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Does the project need a Trust modification order?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{data['clearTrustModificationOrder']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="clear-trust-modification-order">
                        Change<span class="govuk-visually-hidden"> Does the
                          project need a Trust modification order?</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Have you cleared the Direction to transfer?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{data['clearDirectionToTransfer']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="clear-direction-to-transfer">
                        Change<span class="govuk-visually-hidden"> Have you
                          cleared the Direction to transfer?</span>
                      </a>
                    </dd>
                  </div>
                </dl>
              </fieldset>
            </div>
            {{ govukButton({ text: "Continue" }) }}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
