{% extends "layout.html" %}

{% block pageTitle %}
  Complete conversions transfers and changes
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {% include "../includes/phase.html" %}
  <a href="../project-task-list" class="govuk-back-link">Back to task list</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="clear-title-plans" method="post" class="form">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <span class="govuk-caption-l">St. Wilfred's Primary School</span>
                  <h1 class="govuk-fieldset__heading">Have you cleared the title
                    plans</h1>
                </legend>
                <div id="changed-name-hint" class="govuk-hint">
                  Use the companies house number when clearing the registry
                  title plans.
                </div>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="clearLandRegistry" name="clearLandRegistry" type="radio" value="Yes, registry title plans have been cleared" {{ checked("clearLandRegistry", "Yes, title plans have been cleared") }}>
                    <label class="govuk-label govuk-radios__label" for="clearLandRegistry">
                      Yes, the title plans have been cleared
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="clearLandRegistry-2" name="clearLandRegistry" type="radio" value="No, I have the registry title plans but they cannot be cleared" {{ checked("clearLandRegistry", " No, I have the title plans but they cannot be cleared") }}>
                    <label class="govuk-label govuk-radios__label" for="clearLandRegistry-2">
                      No, I have the title plans but they cannot be cleared
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="clearLandRegistry-3" name="clearLandRegistry" type="radio" value="No, I have not received the registry title plans" {{ checked("clearLandRegistry", "No, I have not received the title plans") }}>
                    <label class="govuk-label govuk-radios__label" for="clearLandRegistry-3">
                      No, I have not received the title plans
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            {{ govukButton({ text: "Continue" }) }}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
