{% extends "layout.html" %}

{% block pageTitle %}
  Complete conversions transfers and changes
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {% include "../includes/phase.html" %}
  <a href="../project-task-list" class="govuk-back-link">Back to task list</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="clear-land-questionnaire" method="post" class="form">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <span class="govuk-caption-l">St. Wilfred's Primary School</span>
                  <h1 class="govuk-fieldset__heading">Have you checked and cleared
                    the Land questionnaire?</h1>
                </legend>
                <div id="changed-name-hint" class="govuk-hint">
                  <a href="https://educationgovuk.sharepoint.com/sites/lvedfe00116/SitePages/Land-Transfer-and-shared-land-use.aspx" class="govuk-link" rel="noreferrer noopener" target="_blank">
                    Check the list of common problems (opens in new tab)</a>.
                </div>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="clearLandQuestionnaire" name="clearLandQuestionnaire" type="radio" value="Yes, the Title plans or site plans have been cleared" {{ checked("clearLandQuestionnaire", "Yes, the Title plans or site plans have been cleared") }}>
                    <label class="govuk-label govuk-radios__label" for="clearLandQuestionnaire">
                      Yes, the Land questionnaire has been cleared
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="clearLandQuestionnaire-2" name="clearLandQuestionnaire" type="radio" value="No, I have the registry Title plans but they cannot be cleared" {{ checked("clearLandQuestionnaire", " No, I have the Title plans but they cannot be cleared") }}>
                    <label class="govuk-label govuk-radios__label" for="clearLandQuestionnaire-2">
                      No, I have the Title plans but they cannot be cleared
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="clearLandQuestionnaire-3" name="clearLandQuestionnaire" type="radio" value="No, I have not received the registry Title plans" {{ checked("clearLandQuestionnaire", "No, I have not received the Title plans") }}>
                    <label class="govuk-label govuk-radios__label" for="clearLandQuestionnaire-3">
                      No, I have not received the Title plans
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            {{ govukButton({ text: "Continue" }) }}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
