{% extends "layout.html" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  <a href="/index" class="govuk-back-link">Back to index</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{serviceName}}
      </h1>
      <h2 class="govuk-heading-m">Design history</h2>
      <ol class="govuk-list govuk-list--number">
        <li>
          <p class="govuk-body"><a href="beta/turning-figma-screens-into-a-prototype">
           Turning Figma screens into a prototype
          </a></p>
        </li>
        <li>
          <p class="govuk-body"><a href="beta/iterating-the-task-list-and-adding-the-project-information-tab">
            Iterating the task list and adding the project information tab
          </a></p>
        </li>
        <li>
          <p class="govuk-body"><a href="beta/how-to-present-task-list-actions">
           How to present task list actions
          </a></p>
        </li>
        <li>
          <p class="govuk-body"><a href="beta/ordering-the-document-tasks">
           Ordering the document tasks
          </a></p>
        </li>
        <li>
          <p class="govuk-body"><a href="beta/showing-legal-document-task-progress">
           Showing legal document task progress
          </a></p>
        </li>
        <li>
          <p class="govuk-body"><a href="beta/adding-sign-and-seal-actions">
           Adding sign and seal actions on the task list
          </a></p>
        </li>
      </ol>
    </div>
  </div>

{% endblock %}
