{% extends "layout.html" %}

{% block pageTitle %}
  Complete conversions transfers and changes
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {% include "../includes/phase.html" %}
  <a href="../project-task-list" class="govuk-back-link">Back to task list</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="single-page-questions" method="post" class="form">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <div class="govuk-form-group govuk-!-margin-bottom-9">
                  <span class="govuk-caption-xl">St. Wilfred's Primary School</span>
                  <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Confirm
                    all conditions have been met</h1>
                  <div class="govuk-hint">
                    The deadline to confirm all conditions have been met will be
                    in the Baseline email you received. The school will not be
                    able to open on the target conversion date unless all
                    conditions have been met.
                  </div>
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        How to confirm if conditions have been met
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <p class="govuk-body">You must email the Academy
                        operations team at <a href="mailto:academiesdelivery.operations@education.gov.uk">
                          academiesdelivery.operations@education.gov.uk</a> to
                          confirm if all conditions are met for this school and
                          it will open as an academy on the target conversion
                          date.</p>
                      <p class="govuk-body">The email only needs to confirm if
                        all conditions have been met, or not. You do not need to
                        go into detail.</p>
                      <p class="govuk-body">Things you'll need to check to
                        confirm if all conditions have been met include:
                      </p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>commercial transfer agreement signed </li>
                        <li>leases agreed and signed </li>
                        <li>risk protection arrangement in place and insurer
                          confirmed </li>
                        <li>relevant documents signed and sealed </li>
                      </ul>
                    </div>
                  </details>
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        What to do if conditions are not met
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <p class="govuk-body">All conditions must be met before a
                        school can open as an academy.</p>
                      <p class="govuk-body">If there are outstanding conditions,
                        you must:
                      </p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>inform the school of the outstanding tasks</li>
                        <li>agree a new target conversion date</li>
                        <li>tell the Academy operations team by email at <a href="mailto:academiesdelivery.operations@education.gov.uk">
                          academiesdelivery.operations@education.gov.uk</a>.</li>
                        <li>remove the school from the Baseline</li>
                        <li>change the date in KIM</li>
                        <li>inform the regional delivery officer who started on
                          this project</li>
                      </ul>
                      <p class="govuk-body">Usually, the date will be moved to
                        the first day of the next month. Sometimes you may find
                        that the school and trust need more time. You can move
                        the opening to a later date if needed.</p>
                      <p class="govuk-body">If the opening date changes, any
                        documents that reference the opening date will need to
                        be updated and re-signed.</p>
                    </div>
                  </details>
                </div>
                <div class="govuk-checklist__group">
                  <div class="govuk-checkboxes govuk-checkboxes__checklist" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="externalStakeHolderKickoff-5" name="externalStakeHolderKickoff" type="checkbox" value="hostKickOffMeeting" {{ checked("externalStakeHolderKickoff", "hostKickOffMeeting") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="externalStakeHolderKickoff-5">
                        All conditions have been met
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item" style="display: none;">
                      <input class="govuk-checkboxes__input" id="externalStakeHolderKickoff-7" name="externalStakeHolderKickoff" type="checkbox" value="empty" checked="empty">
                      <label class="govuk-label govuk-checkboxes__label" for="externalStakeHolderKickoff-7">
                        empty
                      </label>
                    </div>
                  </div>
                </div>
                <div class="govuk-form-group">
                  {{ govukButton({ text: "Continue" }) }}
                </div>
              </fieldset>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
