// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import ".tmp/sass/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/school-list";
@import "patterns/sub-navigation";
@import "patterns/empty-tag";
@import "patterns/back-to-top";
@import "patterns/_summary-list--last-border";

.govuk-checkboxes__guidance{
  padding-left: govuk-spacing(3);
  margin-bottom: govuk-spacing(9);
}

.govuk-checkboxes__checklist{
  label{
    font-weight: bold;
    margin-bottom: govuk-spacing(2);
  }
}
// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
