{% extends "layout.html" %}

{% block pageTitle %}
  Projects | {{serviceName}}
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {% include "./includes/phase.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Projects (6)
      </h1>
      <h2 class="govuk-heading-m">June openers</h2>
      <dl class="govuk-summary-list govuk-summary-list--school-details govuk-!-margin-bottom-9">
        <span class="govuk-caption-m">URN 356790</span>
        <h3 class="govuk-heading-m govuk-heading-m--school-name">
          <a href="#" class="govuk-link">Bridgewater County High School</a>
        </h3>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Current task:</span>
            <strong class="govuk-tag govuk-tag--turquoise">
              Completing the project</strong>
          </dt>
          <dd class="govuk-summary-list__actions">
            <span class="govuk-!-font-weight-bold">Target opening date:</span>
            1 June 2022
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Completed tasks:</span>
            <strong class="govuk-tag govuk-tag--turquoise">
              Project kick-off</strong>
            <strong class="govuk-tag govuk-tag--turquoise">
              Clear and sign legal documents</strong>
            <strong class="govuk-tag govuk-tag--turquoise">
              Get ready for opening</strong>
          </dt>
          <dd class="govuk-summary-list__actions">
            <span class="govuk-!-font-weight-bold">Local authority:</span>
            Wigan Borough Council
          </dd>
        </div>
      </dl>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <span class="govuk-caption-m">URN 231763</span>
        <h3 class="govuk-heading-m govuk-heading-m--school-name">
          <a href="#" class="govuk-link">Eastview Grammar School</a>
        </h3>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Project kick-off</span>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed</strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Clear and sign legal documents</span>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed</strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Get ready for opening</span>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed</strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Complete the project</span>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--turquoise">
              In progress (3/5)</strong>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">July openers</h2>
      <dl class="govuk-summary-list govuk-summary-list--school-details govuk-!-margin-bottom-9">
        <span class="govuk-caption-m">URN 120620</span>
        <h3 class="govuk-heading-m govuk-heading-m--school-name">
          <a href="project-task-list" class="govuk-link">St. Wilfred's Primary School</a>
        </h3>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">School type:</span>
            Community special school
          </dt>
          <dd class="govuk-summary-list__actions">
            <span class="govuk-!-font-weight-bold">Target opening date:</span>
            21 July 2022
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Incoming trust:</span>
            Dynamics Trust
          </dt>
          <dd class="govuk-summary-list__actions">
            <span class="govuk-!-font-weight-bold">Local authority:</span>
            Warrington Borough Council
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">August openers</h2>
      <dl class="govuk-summary-list govuk-summary-list--school-details govuk-!-margin-bottom-9">
        <span class="govuk-caption-m">URN 345342</span>
        <h3 class="govuk-heading-m govuk-heading-m--school-name">
          <a href="#" class="govuk-link">Sacred Heart Country Primary School</a>
        </h3>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">School type:</span>
            Foundation special school
          </dt>
          <dd class="govuk-summary-list__actions">
            <span class="govuk-!-font-weight-bold">Target opening date:</span>
            1 August 2022
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Incoming trust:</span>
            The Oxford Warriors Academy Trust
          </dt>
          <dd class="govuk-summary-list__actions">
            <span class="govuk-!-font-weight-bold">Local authority:</span>
            Oxford
          </dd>
        </div>
      </dl>
      <dl class="govuk-summary-list govuk-summary-list--school-details govuk-!-margin-bottom-9">
        <span class="govuk-caption-m">URN 267890</span>
        <h3 class="govuk-heading-m govuk-heading-m--school-name">
          <a href="#" class="govuk-link">Horsendale Primary School</a>
        </h3>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">School type:</span>
            Community school
          </dt>
          <dd class="govuk-summary-list__actions">
            <span class="govuk-!-font-weight-bold">Target opening date:</span>
            1 August 2022
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Incoming trust:</span>
            Catalyst Academy Trust
          </dt>
          <dd class="govuk-summary-list__actions">
            <span class="govuk-!-font-weight-bold">Local authority:</span>
            Rutland
          </dd>
        </div>
      </dl>
      <dl class="govuk-summary-list govuk-summary-list--school-details govuk-!-margin-bottom-9">
        <span class="govuk-caption-m">URN 345342</span>
        <h3 class="govuk-heading-m govuk-heading-m--school-name">
          <a href="#" class="govuk-link">Abbey Park Middle School</a>
        </h3>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">School type:</span>
            Community school
          </dt>
          <dd class="govuk-summary-list__actions">
            <span class="govuk-!-font-weight-bold">Target opening date:</span>
            1 August 2022
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Incoming trust:</span>
            Student Stars Trust
          </dt>
          <dd class="govuk-summary-list__actions">
            <span class="govuk-!-font-weight-bold">Local authority:</span>
            Oxford
          </dd>
        </div>
      </dl>
    </div>
  </div>
{% endblock %}
