{% extends "0-29/layout.html" %}




{% block pageTitle %}
  All projects | {{serviceName}}
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {% include "../../includes/phase.html" %}

  </div>
  {%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}
  {{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: [
      {
        text: 'In progress',
        href: 'in-progress',
        active: true
      },
      {
        text: 'Opening',
        href: 'opening'
      },
	  {
        text: 'By region',
        href: 'by-region'
      },
	  {
        text: 'By user',
        href: 'by-user'
      },
      {
        text: 'By trust',
        href: 'by-trust'
      },
      {
        text: 'By local authority',
        href: 'by-local-authority'
      },
      {
        text: 'Completed',
        href: 'completed'
      },
      {
        text: 'Statistics',
        href: '#'
      }
    ]
  }) }}
  <div class="govuk-width-container">

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        All projects in progress
      </h1>
      <form action="unassigned" method="post" class="form">
        
        <table class="govuk-table" name="projects_table" aria-label="Projects table">
					<thead class="govuk-table__head">
						<tr class="govuk-table__row">
							<th class="govuk-table__header" scope="col">School/academy</th>
							<th class="govuk-table__header" scope="col">URN</th>
							<th class="govuk-table__header" scope="col">Local authority</th>
							<th class="govuk-table__header" scope="col">Region</th>
							<th class="govuk-table__header" scope="col">Team</th>
							<th class="govuk-table__header" scope="col">Assigned to</th>
							<th class="govuk-table__header" scope="col">Project type</th>
							<th class="govuk-table__header" scope="col">conversion/<wbr>transfer date</th>
						</tr>
					</thead>
					<tbody class="govuk-table__body">
						<tr class="govuk-table__row">
							<td class="govuk-table__header govuk-table__cell"><a href="#">Fleetville Infant and Nursery School</a></td>
							<td class="govuk-table__cell">138206</td>
							<td class="govuk-table__cell">Hertfordshire</td>
							<td class="govuk-table__cell">East of England</td>
							<td class="govuk-table__cell">TR00796</td>	
							<td class="govuk-table__cell">Mike Morant</td>
							<td class="govuk-table__cell">Transfer</td>						
							<td class="govuk-table__cell">1 Jul 2023</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__header govuk-table__cell"><a href="#">Broadfield Primary School</a></td>
							<td class="govuk-table__cell">105676</td>
							<td class="govuk-table__cell">Oldham</td>
							<td class="govuk-table__cell">North West</td>
							<td class="govuk-table__cell">TR03094</td>	
							<td class="govuk-table__cell">Richard Cooley</td>
							<td class="govuk-table__cell">Conversion</td>						
							<td class="govuk-table__cell">1 Nov 2023</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__header govuk-table__cell"><a href="#">Swell Church of England Primary School</a></td>
							<td class="govuk-table__cell">115652</td>
							<td class="govuk-table__cell">Cotlswold</td>
							<td class="govuk-table__cell">South West</td>
							<td class="govuk-table__cell">TR04003</td>	
							<td class="govuk-table__cell">Meyric Rawlings</td>
							<td class="govuk-table__cell">Conversion</td>						
							<td class="govuk-table__cell">1 Jun 2023</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__header govuk-table__cell"><a href="#">St Joseph's Rc Primary School</a></td>
							<td class="govuk-table__cell">101133</td>
							<td class="govuk-table__cell">Westminster</td>
							<td class="govuk-table__cell">London</td>
							<td class="govuk-table__cell">TR01904</td>	
							<td class="govuk-table__cell">Mike Morant</td>
							<td class="govuk-table__cell">Transfer</td>						
							<td class="govuk-table__cell">1 Aug 2023</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__header govuk-table__cell"><a href="#">Weydon School</a></td>
							<td class="govuk-table__cell">136531</td>
							<td class="govuk-table__cell">Surrey</td>
							<td class="govuk-table__cell">South East</td>
							<td class="govuk-table__cell">TR01904</td>	
							<td class="govuk-table__cell">Stephen Milnes</td>
							<td class="govuk-table__cell">Conversion</td>						
							<td class="govuk-table__cell">1 Mar 2030</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__header govuk-table__cell"><a href="#">Deanshanger Primary School</a></td>
							<td class="govuk-table__cell">121813</td>
							<td class="govuk-table__cell">Amber Valley</td>
							<td class="govuk-table__cell">East Midlands</td>
							<td class="govuk-table__cell">TR03819</td>	
							<td class="govuk-table__cell">Lorna Harwood</td>
							<td class="govuk-table__cell">Transfer</td>						
							<td class="govuk-table__cell">1 Oct 2025</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__header govuk-table__cell"><a href="#">The Mill School</a></td>
							<td class="govuk-table__cell">126530</td>
							<td class="govuk-table__cell">Wiltshire</td>
							<td class="govuk-table__cell">South West</td>
							<td class="govuk-table__cell">TR03819</td>	
							<td class="govuk-table__cell">Stephen Milnes</td>
							<td class="govuk-table__cell">Conversion</td>						
							<td class="govuk-table__cell">1 Aug 2025</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__header govuk-table__cell"><a href="#">Catmose College</a></td>
							<td class="govuk-table__cell">136530</td>
							<td class="govuk-table__cell">Rutland</td>
							<td class="govuk-table__cell">East Midlands</td>
							<td class="govuk-table__cell">TR01904</td>	
							<td class="govuk-table__cell">Richard Cooley</td>
							<td class="govuk-table__cell">Conversion</td>						
							<td class="govuk-table__cell">1 Oct 2023</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__header govuk-table__cell"><a href="#">Sunbury Manor School</a></td>
							<td class="govuk-table__cell">136529</td>
							<td class="govuk-table__cell">Surrey</td>
							<td class="govuk-table__cell">South East</td>
							<td class="govuk-table__cell">TR01904</td>	
							<td class="govuk-table__cell">Stephen Milnes</td>
							<td class="govuk-table__cell">Tranfer</td>						
							<td class="govuk-table__cell">1 Jun 2027</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__header govuk-table__cell"><a href="#">Vickerstown School</a></td>
							<td class="govuk-table__cell">112209</td>
							<td class="govuk-table__cell">Cumbria</td>
							<td class="govuk-table__cell">North West</td>
							<td class="govuk-table__cell">TR00663</td>	
							<td class="govuk-table__cell">Meyric Rawlings</td>
							<td class="govuk-table__cell">Conversion</td>						
							<td class="govuk-table__cell">1 May 2023</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__header govuk-table__cell"><a href="#">The Coopers' Company and Coborn School</a></td>
							<td class="govuk-table__cell">136600</td>
							<td class="govuk-table__cell">Upminster</td>
							<td class="govuk-table__cell">London</td>
							<td class="govuk-table__cell">TR00424</td>	
							<td class="govuk-table__cell">Don Gazara</td>
							<td class="govuk-table__cell">Conversion</td>						
							<td class="govuk-table__cell">1 Sep 2024</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__header govuk-table__cell"><a href="#">Church of The Ascension Cofe Primary School</a></td>
							<td class="govuk-table__cell">103835</td>
							<td class="govuk-table__cell">Kingswinford</td>
							<td class="govuk-table__cell">West Midlands</td>
							<td class="govuk-table__cell">TR03991</td>	
							<td class="govuk-table__cell">Morrighan Humpleby</td>
							<td class="govuk-table__cell">Transfer</td>						
							<td class="govuk-table__cell">1 Aug 2023</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__header govuk-table__cell"><a href="#">Kings Norton Girls' School</a></td>
							<td class="govuk-table__cell">136590</td>
							<td class="govuk-table__cell">Birmingham</td>
							<td class="govuk-table__cell">West Midlands</td>
							<td class="govuk-table__cell">TR02216</td>	
							<td class="govuk-table__cell">Stephen Milnes</td>
							<td class="govuk-table__cell">Conversion</td>						
							<td class="govuk-table__cell">1 Sep 3000</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__header govuk-table__cell"><a href="#">Fleetville Junior School</a></td>
							<td class="govuk-table__cell">117137</td>
							<td class="govuk-table__cell">St Albans</td>
							<td class="govuk-table__cell">East of England</td>
							<td class="govuk-table__cell">TR00796</td>	
							<td class="govuk-table__cell">Mike Morant</td>
							<td class="govuk-table__cell">Conversion</td>						
							<td class="govuk-table__cell">1 Sep 2023</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__header govuk-table__cell"><a href="#">Francis Bacon School</a></td>
							<td class="govuk-table__cell">117574</td>
							<td class="govuk-table__cell">Hertfordshire</td>
							<td class="govuk-table__cell">North</td>
							<td class="govuk-table__cell">TR01926</td>	
							<td class="govuk-table__cell">Meyric Rawlings</td>
							<td class="govuk-table__cell">Conversion</td>						
							<td class="govuk-table__cell">1 Oct 2023</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__header govuk-table__cell"><a href="#">Lyng Church of England Primary School</a></td>
							<td class="govuk-table__cell">121102</td>
							<td class="govuk-table__cell">Norfolk</td>
							<td class="govuk-table__cell">East of England</td>
							<td class="govuk-table__cell">TR00663</td>	
							<td class="govuk-table__cell">Lorna Harwood</td>
							<td class="govuk-table__cell">Transfer</td>						
							<td class="govuk-table__cell">1 Sep 2024</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__header govuk-table__cell"><a href="#">Roecliffe Church of England Primary School</a></td>
							<td class="govuk-table__cell">121583</td>
							<td class="govuk-table__cell">North Yorkshire</td>
							<td class="govuk-table__cell">Yorkshire and the Humber</td>
							<td class="govuk-table__cell">TR04002</td>	
							<td class="govuk-table__cell">Meyric Rawlings</td>
							<td class="govuk-table__cell">Conversion</td>						
							<td class="govuk-table__cell">1 OCt 2023</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__header govuk-table__cell"><a href="#">St Peter's Catholic Primary School, Shoreham-By-Sea</a></td>
							<td class="govuk-table__cell">126041</td>
							<td class="govuk-table__cell">West Sussex</td>
							<td class="govuk-table__cell">South East</td>
							<td class="govuk-table__cell">TR03680</td>	
							<td class="govuk-table__cell">Meyric Rawlings</td>
							<td class="govuk-table__cell">Conversion</td>						
							<td class="govuk-table__cell">1 Jun 2023</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__header govuk-table__cell"><a href="#">Brooke Weston Academy</a></td>
							<td class="govuk-table__cell">135317</td>
							<td class="govuk-table__cell">North Northamptonshire</td>
							<td class="govuk-table__cell">East Midlands</td>
							<td class="govuk-table__cell">TR00327</td>	
							<td class="govuk-table__cell">Stephen Milnes</td>
							<td class="govuk-table__cell">Transfer</td>						
							<td class="govuk-table__cell">1 Sep 2023</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__header govuk-table__cell"><a href="#">The Ravensbourne School</a></td>
							<td class="govuk-table__cell">136540</td>
							<td class="govuk-table__cell">Bromley</td>
							<td class="govuk-table__cell">London</td>
							<td class="govuk-table__cell">TR01904</td>	
							<td class="govuk-table__cell">Anthony O'Malley</td>
							<td class="govuk-table__cell">Transfer</td>						
							<td class="govuk-table__cell">1 Jan 2040</td>
						</tr>
					</tbody>
				</table>
        {% from "govuk/components/pagination/macro.njk" import govukPagination %}
        {{ govukPagination({
          next: {
            href: "#"
          },
          items: [
            {
              number: 1,
              current: true,
              href: "#"
            },
            {
              number: 2,
              href: "#"
            },
            {
              number: 3,
              href: "#"
            }
          ]
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
