{% extends "layouts/with-navigation.html" %}


{% block pageTitle %}
  Projects | {{serviceName}}
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {% include "./includes/phase.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Project list
      </h1>
      <nav class="sub-navigation" aria-label="Sub navigation">
        <ul class="sub-navigation__list">
          <li class="sub-navigation__item">
            <a class="sub-navigation__link" aria-current="page" href="#">Active projects</a>
          </li>
          <li class="sub-navigation__item">
            <a class="sub-navigation__link" href="completed-projects-2">Closed projects</a>
          </li>
        </ul>
      </nav>
      <h2 class="govuk-heading-m">June openers</h2>
      <dl class="govuk-summary-list govuk-summary-list--school-details govuk-!-margin-bottom-9">
        <span class="govuk-caption-m">URN 356790</span>
        <h3 class="govuk-heading-m govuk-heading-m--school-name">
          <a href="project-task-list-2" class="govuk-link">Bridgewater County High School</a>
        </h3>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Project kick-off</span>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed</strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Clear and sign legal documents</span>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed</strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Get ready for opening</span>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed</strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Complete the project</span>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--orange">
              In progress (3/4)</strong>
          </dd>
        </div>
      </dl>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <span class="govuk-caption-m">URN 231763</span>
        <h3 class="govuk-heading-m govuk-heading-m--school-name">
          <a href="#" class="govuk-link">Eastview Grammar School</a>
        </h3>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Project kick-off</span>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed</strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Clear and sign legal documents</span>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed</strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Get ready for opening</span>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed</strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Complete the project</span>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--orange">
              In progress (2/4)</strong>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">August openers</h2>
      <dl class="govuk-summary-list govuk-summary-list--school-details govuk-!-margin-bottom-9">
        <span class="govuk-caption-m">URN 345342</span>
        <h3 class="govuk-heading-m govuk-heading-m--school-name">
          <a href="#" class="govuk-link">Sacred Heart Country Primary School</a>
        </h3>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Project kick-off</span>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed</strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Clear and sign legal documents</span>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--orange">
              In Progress (3/9)</strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Get ready for opening</span>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--blue">
              Not started</strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Complete the project</span>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--blue">
              Not started</strong>
          </dd>
        </div>
      </dl>
      <dl class="govuk-summary-list govuk-summary-list--school-details govuk-!-margin-bottom-9">
        <span class="govuk-caption-m">URN 267890</span>
        <h3 class="govuk-heading-m govuk-heading-m--school-name">
          <a href="#" class="govuk-link">Horsendale Primary School</a>
        </h3>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Project kick-off</span>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--orange">
              In progress (2/3)</strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Clear and sign legal documents</span>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--orange">
              In progress (2/9)</strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Get ready for opening</span>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--blue">
              Not started</strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Complete the project</span>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--blue">
              Not started</strong>
          </dd>
        </div>
      </dl>
      <dl class="govuk-summary-list govuk-summary-list--school-details govuk-!-margin-bottom-9">
        <span class="govuk-caption-m">URN 345342</span>
        <h3 class="govuk-heading-m govuk-heading-m--school-name">
          <a href="#" class="govuk-link">Abbey Park Middle School</a>
        </h3>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Project kick-off</span>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--orange">
              In progress (1/3)</strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Clear and sign legal documents</span>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--blue">
              Not started</strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Get ready for opening</span>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--blue">
              Not Started</strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Complete the project</span>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--blue">
              Not started</strong>
          </dd>
        </div>
      </dl>
    </div>
  </div>
{% endblock %}
