{% extends "0-26/layout.html" %}


{% block pageTitle %}
  Complete conversions transfers and changes
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {% include "./includes/phase.html" %}
  <a href="start" class="govuk-back-link">Back to all projects</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">URN 102062</span>
      <h1 class="govuk-heading-l">St. Wilfred's Primary School</h1>
      <div class="govuk-inset-text">
        <p class="govuk-body govuk-!-margin-0">
          <span class="govuk-!-font-weight-bold">School type: </span>
          Voluntary aided school</p>
        <p class="govuk-body govuk-!-margin-0">
          <span class="govuk-!-font-weight-bold">Incoming trust:</span>
          Dynamics Trust</p>
        <p class="govuk-body govuk-!-margin-0">
          <span class="govuk-!-font-weight-bold">Local authority:</span>
          Warrington Borough Council</p>
        <p class="govuk-body govuk-!-margin-0">
          <span class="govuk-!-font-weight-bold">Target opening date:</span>
          21 July 2022</p>
      </div>

      <nav class="sub-navigation" aria-label="Sub navigation">
        <ul class="sub-navigation__list">
          <li class="sub-navigation__item">
            <a class="sub-navigation__link" href="project-task-list">Task list</a>
          </li>
          <li class="sub-navigation__item">
            <a class="sub-navigation__link" href="project-information">Project information</a>
          </li>
          <li class="sub-navigation__item">
            <a class="sub-navigation__link" aria-current="page" href="#">Notes</a>
          </li>
          <li class="sub-navigation__item">
            <a class="sub-navigation__link" href="project-contacts">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-form-group">
            <form action="project-notes" method="post" class="form">
              <h2 class="govuk-heading-l">
                <label class="govuk-label govuk-label--l" for="project-notes">Notes
                </label>
              </h2>
              <div class="view-by">
                <nav class="govuk-body view-by-component__nav">
                  <span class="govuk-!-font-weight-bold">View:</span>
                  <ul class="view-by__list">
                    <li class="view-by__list-item"><a class="govuk-link" href="project-notes"><span class="govuk-visually-hidden">View </span>Project notes</a></li>
                    <li class="view-by__list-item"><a class="govuk-link" href="task-notes"><span class="govuk-visually-hidden">View </span>Task notes</a></li>
                    <li class="view-by__list-item">Handover notes</li>
                  </ul>
                </nav>
              </div>
            </form>
          </div>
          <span class="govuk-caption-m">25 June 2022</span>
          <h3 class="govuk-heading-m">Alby Santos</h3>
          <p class="govuk-body">The school is joining a MAT that has already
            supported 4 schools converting in the last 2 years.</p>
          <p class="govuk-body">We know from previous experience that the Local
            authority can drag their heels and tend to charge more than other
            local authorities.</p>
          <p class="govuk-body">I would suggest reaching out to Ethel Valencia
            at the trust as she can get things done and pushed through.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
