 .empty {
    display: inline-block;
    border: 2px solid;
    outline-offset: -2px;
    color: govuk-colour("dark-grey");
    background-color:  govuk-colour("white");
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 1rem;
    font-size: 0.875rem;
    line-height: 1;
    padding-top: 3px;
    padding-right: 8px;
    padding-bottom: 3px;
    padding-left: 8px;
    margin-right: 8px;
  }
