.govuk-summary-list--last-border{
  .govuk-summary-list__row:not(:last-of-type){
    border-bottom:0 none;
  }
  .govuk-summary-list__row:last-of-type > *{
    padding-bottom: govuk-spacing(4);
  }
}

.govuk-summary-list__row--no-border{
    border-bottom:0 none;
}

