.view-by {
  margin-bottom: govuk-spacing(4);
  .view-by__list {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0.3125em;
    padding-left: 0;
    .view-by__list-item{
      display: inline-block;
      &:not(:last-of-type):after{
        content:"";
        border-right: 1px solid govuk-colour("dark-grey");
        padding-right: govuk-spacing(2);
        margin-right: govuk-spacing(2);
      }
    }
  }
}
