{% extends "layouts/my-layout.html" %}

{% block pageTitle %}
  Complete conversions transfers and changes
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {% include "../includes/phase.html" %}
  <a href="../project-task-list" class="govuk-back-link">Back to task list</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="single-page-questions" method="post" class="form">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <div class="govuk-form-group govuk-!-margin-bottom-9">
                  <span class="govuk-caption-xl">St. Wilfred's Primary School</span>
                  <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Master
                    funding agreement</h1>
                  <div class="govuk-hint">
                    Master funding agreements from before 2018 should be updated
                    to the newer versions.
                  </div>
                  <div class="govuk-checkboxes govuk-checkboxes__checklist" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="externalStakeHolderKickoff" name="externalStakeHolderKickoff" type="checkbox" value="sendIntroductoryEmails" {{ checked("externalStakeHolderKickoff", "sendIntroductoryEmails") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="externalStakeHolderKickoff">
                        Not applicable
                      </label>
                    </div>
                  </div>
                </div>
                <div class="govuk-checklist__group">
                  <div class="govuk-checklist__header">
                    <h2 class="govuk-heading-l">Check and clear the Master
                      funding agreement </h2>
                    <div class="govuk-hint">
                      You can <a href="https://www.gov.uk/government/publications/academy-and-free-school-funding-agreements" class="govuk-link" rel="noreferrer noopener" target="_blank">
                        view the model documents (opens in new tab)</a>
                        to check for changes.
                    </div>
                    <details class="govuk-details" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Help checking and updating the Master funding
                          agreement
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        <p class="govuk-body">Changes that personalise the model
                          documents to a school or trust, and remove or add
                          optional clauses, are expected. The wording of clauses
                          should not change.</p>
                        <p class="govuk-body">You'll need to <a href="https://educationgovuk.sharepoint.com/sites/lvedfe00116/SitePages/Commissioning%20Form.aspx" class="govuk-link" rel="noreferrer noopener" target="_blank">
                          contact the policy team (opens in new tab)</a>
                          about changes to clause text.</p>
                        <p class="govuk-body">If the trust uses a Master funding
                          agreement from 2018 or earlier, they have two options.</p>
                        <p class="govuk-body">They can update to a 2020 version
                          of the Master funding agreement and update any
                          Supplementary funding agreements from 2018 or earlier
                          in the trust too.</p>
                        <p class="govuk-body">Alternatively, they can adopt an
                          additional Master funding agreement, from 2020,
                          which the new academy's Supplementary funding
                          agreement will sit under. This will allow the rest of
                          the academies in the trust to continue using the
                          existing Master funding agreement.</p>
                        <p class="govuk-body">You will need to clear any new and
                          updated documents. These may need a Deed of variation.</p>
                      </div>
                    </details>
                  </div>
                  <div class="govuk-checkboxes govuk-checkboxes__checklist" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="externalStakeHolderKickoff" name="externalStakeHolderKickoff" type="checkbox" value="sendIntroductoryEmails" {{ checked("externalStakeHolderKickoff", "sendIntroductoryEmails") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="externalStakeHolderKickoff">
                        Received
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="externalStakeHolderKickoff-2" name="externalStakeHolderKickoff" type="checkbox" value="saveProforma" {{ checked("externalStakeHolderKickoff", "saveProforma") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="externalStakeHolderKickoff-2">
                        Cleared
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="externalStakeHolderKickoff-3" name="externalStakeHolderKickoff" type="checkbox" value="confirmConversionDate" {{ checked("externalStakeHolderKickoff", "confirmConversionDate") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="externalStakeHolderKickoff-3">
                        Signed by school or trust
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="externalStakeHolderKickoff-4" name="externalStakeHolderKickoff" type="checkbox" value="confirmConversionDate" {{ checked("externalStakeHolderKickoff", "confirmConversionDate") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="externalStakeHolderKickoff-4">
                        Saved in the school's SharePoint folder
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item" style="display: none;">
                      <input class="govuk-checkboxes__input" id="externalStakeHolderKickoff-5" name="externalStakeHolderKickoff" type="checkbox" value="empty" checked="empty">
                      <label class="govuk-label govuk-checkboxes__label" for="externalStakeHolderKickoff-5">
                        empty
                      </label>
                    </div>
                  </div>
                </div>
                <div class="govuk-checklist__group">
                  <div class="govuk-checklist__header">
                    <h2 class="govuk-heading-l">Signed by Secretary of State</h2>
                    <details class="govuk-details" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          How to sign the Master funding agreement
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        <p class="govuk-body">The Secretary of State, or
                          somebody with the authority to act on their behalf,
                          must sign the Master funding agreement.</p>
                        <p class="govuk-body">Usually this is your team leader
                          or the deputy director.</p>
                        <p class="govuk-body">You only need to send the exact
                          pages that they need to sign. Do not send the full
                          document.</p>
                        <p class="govuk-body">Once you've received the signed
                          page, put it back in the document. Then save the
                          signed Master funding agreement as a PDF in the
                          school's SharePoint folder. </p>
                      </div>
                    </details>
                  </div>
                  <div class="govuk-checkboxes govuk-checkboxes__checklist" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="externalStakeHolderKickoff" name="externalStakeHolderKickoff" type="checkbox" value="sendIntroductoryEmails" {{ checked("externalStakeHolderKickoff", "sendIntroductoryEmails") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="externalStakeHolderKickoff">
                        Sent to team leader or deputy director
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="externalStakeHolderKickoff-2" name="externalStakeHolderKickoff" type="checkbox" value="saveProforma" {{ checked("externalStakeHolderKickoff", "saveProforma") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="externalStakeHolderKickoff-2">
                        Document signed on behalf of Secretary of State
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item" style="display: none;">
                      <input class="govuk-checkboxes__input" id="externalStakeHolderKickoff-5" name="externalStakeHolderKickoff" type="checkbox" value="empty" checked="empty">
                      <label class="govuk-label govuk-checkboxes__label" for="externalStakeHolderKickoff-5">
                        empty
                      </label>
                    </div>
                  </div>
                </div>
                <div class="govuk-form-group govuk-!-margin-top-9">
                  {{ govukButton({ text: "Continue" }) }}
                </div>
              </fieldset>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
