{% extends "0-34/layout.html" %}




{% block pageTitle %}
  {{ 'RCS' if data['userType'] in ['team-lead', 'regional-casework-services'] else 'Your team' }} projects | {{serviceName}}
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {% include "../../includes/phase.html" %}

  </div>
  <div class="moj-primary-navigation">
    <div class="moj-primary-navigation__container">
      <div class="moj-primary-navigation__nav">
        <nav class="moj-primary-navigation" aria-label="Primary navigation">
          <ul class="moj-primary-navigation__list">
            {% if (data['userType'] == 'team-lead') %}
              <li class="moj-primary-navigation__item">
                <a class="moj-primary-navigation__link" href="unassigned">Unassigned</a>
              </li>
            {% endif %}
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="in-progress">In progress</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="opening">Opening</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="by-user">By user</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link"  aria-current="page" href="completed">Completed</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="govuk-width-container">

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        All completed projects
      </h1>

			
      <div class="">
        
        <table class="govuk-table" name="projects_table" aria-label="Projects table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">School</th>
              <th class="govuk-table__header" scope="col">URN</th>
              <th class="govuk-table__header" scope="col">Local authority</th>
              {% if data['userType'] in ['team-lead', 'regional-casework-services'] %}
                <th class="govuk-table__header" scope="col">Region</th>
              {% else %}
              <th class="govuk-table__header" scope="col">Team</th>
              {% endif %}
              <th class="govuk-table__header" scope="col">Type of project</th>
              <th class="govuk-table__header" scope="col">Conversion or transfer date</th>
              <th class="govuk-table__header" scope="col">Project completion date</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__header govuk-table__cell"><a href="#">St Joseph's Rc Primary School</a></td>
              <td class="govuk-table__cell">101133</td>
              <td class="govuk-table__cell">Camberwick Green</td>
              {% if data['userType'] in ['team-lead', 'regional-casework-services'] %}
                <td class="govuk-table__cell">London</td>
              {% else %}
              <td class="govuk-table__cell">North West</td>
              {% endif %}
              <td class="govuk-table__cell">Transfer</td>
              <td class="govuk-table__cell">Jan 2023</td>
              <td class="govuk-table__cell">3 Mar 2023</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header govuk-table__cell"><a href="#">Woodland Middle School Academy</a></td>
              <td class="govuk-table__cell">136560</td>
              <td class="govuk-table__cell">Kings Oak</td>
              {% if data['userType'] in ['team-lead', 'regional-casework-services'] %}
                <td class="govuk-table__cell">South East</td>
              {% else %}
              <td class="govuk-table__cell">North West</td>
              {% endif %}
              <td class="govuk-table__cell">Conversion</td>
              <td class="govuk-table__cell">Jan 2023</td>
              <td class="govuk-table__cell">1 Apr 2023</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header govuk-table__cell"><a href="#">Glyn School</a></td>
              <td class="govuk-table__cell">136534</td>
              <td class="govuk-table__cell">Blackpool</td>
              {% if data['userType'] in ['team-lead', 'regional-casework-services'] %}
                <td class="govuk-table__cell">North West</td>
              {% else %}
              <td class="govuk-table__cell">Regional Casework Services</td>
              {% endif %}
              <td class="govuk-table__cell">Conversion</td>
              <td class="govuk-table__cell">Jan 2023</td>
              <td class="govuk-table__cell">3 Mar 2023</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header govuk-table__cell"><a href="#">Cheam Park Farm Junior School</a></td>
              <td class="govuk-table__cell">136535</td>
              <td class="govuk-table__cell">Camberwick Green</td>
              {% if data['userType'] in ['team-lead', 'regional-casework-services'] %}
                <td class="govuk-table__cell">London</td>
              {% else %}
              <td class="govuk-table__cell">Regional Casework Services</td>
              {% endif %}
              <td class="govuk-table__cell">Transfer</td>
              <td class="govuk-table__cell">Jan 2023</td>
              <td class="govuk-table__cell">12 Dec 2023</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header govuk-table__cell"><a href="#">Catmose College</a></td>
              <td class="govuk-table__cell">136530</td>
              <td class="govuk-table__cell">Waltham</td>
              {% if data['userType'] in ['team-lead', 'regional-casework-services'] %}
                <td class="govuk-table__cell">London</td>
              {% else %}
              <td class="govuk-table__cell">North West</td>
              {% endif %}
              <td class="govuk-table__cell">Conversion</td>
              <td class="govuk-table__cell">Jan 2023</td>
              <td class="govuk-table__cell">31 Jan 2024</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header govuk-table__cell"><a href="#">Catmose College</a></td>
              <td class="govuk-table__cell">136530</td>
              <td class="govuk-table__cell">Colchyder</td>
              {% if data['userType'] in ['team-lead', 'regional-casework-services'] %}
                <td class="govuk-table__cell">South East</td>
              {% else %}
              <td class="govuk-table__cell">North West</td>
              {% endif %}
              <td class="govuk-table__cell">Transfer</td>
              <td class="govuk-table__cell">Jan 2023</td>
              <td class="govuk-table__cell">3 Mar 2024</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header govuk-table__cell"><a href="#">Catmose College</a></td>
              <td class="govuk-table__cell">136530</td>
              <td class="govuk-table__cell">Birmingham</td>
              {% if data['userType'] in ['team-lead', 'regional-casework-services'] %}
                <td class="govuk-table__cell">West Midlands</td>
              {% else %}
              <td class="govuk-table__cell">North West</td>
              {% endif %}
              <td class="govuk-table__cell">Conversion</td>
              <td class="govuk-table__cell">Jan 2023</td>
              <td class="govuk-table__cell">3 Mar 2024</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header govuk-table__cell"><a href="#">Catmose College</a></td>
              <td class="govuk-table__cell">136530</td>
              <td class="govuk-table__cell">Wythinton</td>
              {% if data['userType'] in ['team-lead', 'regional-casework-services'] %}
                <td class="govuk-table__cell">West Midlands</td>
              {% else %}
              <td class="govuk-table__cell">North West</td>
              {% endif %}
              <td class="govuk-table__cell">Conversion</td>
              <td class="govuk-table__cell">Jan 2023</td>
              <td class="govuk-table__cell">3 Mar 2024</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header govuk-table__cell"><a href="#">Broadfield Primary School</a></td>
              <td class="govuk-table__cell">105676</td>
              <td class="govuk-table__cell">Middlestown</td>
              {% if data['userType'] in ['team-lead', 'regional-casework-services'] %}
                <td class="govuk-table__cell">Yorkshire and the Humber</td>
              {% else %}
              <td class="govuk-table__cell">Regional Casework Services</td>
              {% endif %}
              <td class="govuk-table__cell">Transfer</td>
              <td class="govuk-table__cell">Jan 2023</td>
              <td class="govuk-table__cell">3 Mar 2024</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header govuk-table__cell"><a href="#">Catmose College</a></td>
              <td class="govuk-table__cell">136530</td>
              <td class="govuk-table__cell">Kessington</td>
              {% if data['userType'] in ['team-lead', 'regional-casework-services'] %}
                <td class="govuk-table__cell">North West</td>
              {% else %}
              <td class="govuk-table__cell">North West</td>
              {% endif %}
              <td class="govuk-table__cell">Conversion</td>
              <td class="govuk-table__cell">Jan 2023</td>
              <td class="govuk-table__cell">3 Mar 2024</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header govuk-table__cell"><a href="#">Broadfield Primary School</a></td>
              <td class="govuk-table__cell">105676</td>
              <td class="govuk-table__cell">Hook</td>
              {% if data['userType'] in ['team-lead', 'regional-casework-services'] %}
                <td class="govuk-table__cell">South East</td>
              {% else %}
              <td class="govuk-table__cell">North West</td>
              {% endif %}
              <td class="govuk-table__cell">Conversion</td>
              <td class="govuk-table__cell">Jan 2023</td>
              <td class="govuk-table__cell">3 Mar 2024</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header govuk-table__cell"><a href="#">Church of The Ascension Cofe Primary School</a></td>
              <td class="govuk-table__cell">103835</td>
              <td class="govuk-table__cell">Bordon</td>
              {% if data['userType'] in ['team-lead', 'regional-casework-services'] %}
                <td class="govuk-table__cell">South East</td>
              {% else %}
              <td class="govuk-table__cell">Regional Casework Services</td>
              {% endif %}
              <td class="govuk-table__cell">Conversion</td>
              <td class="govuk-table__cell">Jan 2023</td>
              <td class="govuk-table__cell">3 Mar 2024</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header govuk-table__cell"><a href="#">Broadfield Primary School</a></td>
              <td class="govuk-table__cell">105676</td>
              <td class="govuk-table__cell">Hook</td>
              {% if data['userType'] in ['team-lead', 'regional-casework-services'] %}
                <td class="govuk-table__cell">South East</td>
              {% else %}
              <td class="govuk-table__cell">North West</td>
              {% endif %}
              <td class="govuk-table__cell">Transfer</td>
              <td class="govuk-table__cell">Jan 2023</td>
              <td class="govuk-table__cell">3 Mar 2024</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header govuk-table__cell"><a href="#">Bracken Hill School</a></td>
              <td class="govuk-table__cell">122961</td>
              <td class="govuk-table__cell">Little Hangleton</td>
              {% if data['userType'] in ['team-lead', 'regional-casework-services'] %}
                <td class="govuk-table__cell">East Midlands</td>
              {% else %}
              <td class="govuk-table__cell">North West</td>
              {% endif %}
              <td class="govuk-table__cell">Transfer</td>
              <td class="govuk-table__cell">Jan 2023</td>
              <td class="govuk-table__cell">3 Mar 2024</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header govuk-table__cell"><a href="#">New Horizons School (Part of The Sabden Multi Academy Trust)</a></td>
              <td class="govuk-table__cell">142151</td>
              <td class="govuk-table__cell">Durdham</td>
              {% if data['userType'] in ['team-lead', 'regional-casework-services'] %}
                <td class="govuk-table__cell">North East</td>
              {% else %}
              <td class="govuk-table__cell">Regional Casework Services</td>
              {% endif %}
              <td class="govuk-table__cell">Conversion</td>
              <td class="govuk-table__cell">Jan 2023</td>
              <td class="govuk-table__cell">3 Mar 2024</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header govuk-table__cell"><a href="#">Lyng Church of England Primary School</a></td>
              <td class="govuk-table__cell">121102</td>
              <td class="govuk-table__cell">Scarfolk</td>
              {% if data['userType'] in ['team-lead', 'regional-casework-services'] %}
                <td class="govuk-table__cell">West Midlands</td>
              {% else %}
              <td class="govuk-table__cell">North West</td>
              {% endif %}
              <td class="govuk-table__cell">Transfer</td>
              <td class="govuk-table__cell">Jan 2023</td>
              <td class="govuk-table__cell">3 Mar 2024</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header govuk-table__cell"><a href="#">Catmose College</a></td>
              <td class="govuk-table__cell">136530</td>
              <td class="govuk-table__cell">Scarfolk</td>
              {% if data['userType'] in ['team-lead', 'regional-casework-services'] %}
                <td class="govuk-table__cell">South East</td>
              {% else %}
              <td class="govuk-table__cell">North West</td>
              {% endif %}
              <td class="govuk-table__cell">Conversion</td>
              <td class="govuk-table__cell">Jan 2023</td>
              <td class="govuk-table__cell">3 Mar 2024</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header govuk-table__cell"><a href="#">Catmose College</a></td>
              <td class="govuk-table__cell">136530</td>
              <td class="govuk-table__cell">Undercover Heart</td>
              {% if data['userType'] in ['team-lead', 'regional-casework-services'] %}
                <td class="govuk-table__cell">London</td>
              {% else %}
                <td class="govuk-table__cell">Regional Casework Services</td>
              {% endif %}
              <td class="govuk-table__cell">Conversion</td>
              <td class="govuk-table__cell">Jan 2023</td>
              <td class="govuk-table__cell">3 Mar 2024</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header govuk-table__cell"><a href="#">Broadfield Primary School</a></td>
              <td class="govuk-table__cell">105676</td>
              <td class="govuk-table__cell">Camberwheel</td>
              {% if data['userType'] in ['team-lead', 'regional-casework-services'] %}
                <td class="govuk-table__cell">South East</td>
              {% else %}
                <td class="govuk-table__cell">Regional Casework Services</td>
              {% endif %}
              <td class="govuk-table__cell">Transfer</td>
              <td class="govuk-table__cell">Jan 2023</td>
              <td class="govuk-table__cell">Mar 2023</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header govuk-table__cell"><a href="#">Broadfield Primary School</a></td>
              <td class="govuk-table__cell">105676</td>
              <td class="govuk-table__cell">Wilton</td>
              {% if data['userType'] in ['team-lead', 'regional-casework-services'] %}
                <td class="govuk-table__cell">South West</td>
              {% else %}
              <td class="govuk-table__cell">North West</td>
              {% endif %}
              <td class="govuk-table__cell">Conversion</td>
              <td class="govuk-table__cell">Jan 2023</td>
              <td class="govuk-table__cell">Dec 2023</td>
            </tr>
          </tbody>
        </table>
        {% from "govuk/components/pagination/macro.njk" import govukPagination %}
        {{ govukPagination({
          next: {
            href: "#"
          },
          items: [
            {
              number: 1,
              current: true,
              href: "#"
            },
            {
              number: 2,
              href: "#"
            },
            {
              number: 3,
              href: "#"
            }
          ]
        }) }}
      </div>
    </div>
  </div>
{% endblock %}
