{% extends "layout.html" %}

{% block pageTitle %}
  Complete conversions transfers and changes
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {% include "../includes/phase.html" %}
  <a href="../project-task-list" class="govuk-back-link">Back to task list</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="check-grant-payment-form" method="post" class="form">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <span class="govuk-caption-l">St. Wilfred's Primary School</span>
                  <h1 class="govuk-fieldset__heading">Have you received the
                    completed Grant payment form?</h1>
                </legend>
                <p class="govuk-body">You will need to check the form is complete
                  and that there is no missing information.</p>
                <p class="govuk-body">Save the complete form in the school
                  SharePoint. You should then share the link with the Grants
                  payment team.</p>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="checkGrantPaymentForm" name="checkGrantPaymentForm" type="radio" value="Yes" {{ checked("checkGrantPaymentForm", "Yes") }}>
                    <label class="govuk-label govuk-radios__label" for="checkGrantPaymentForm">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="checkGrantPaymentForm-2" name="checkGrantPaymentForm" type="radio" value="No" {{ checked("checkGrantPaymentForm", "No") }}>
                    <label class="govuk-label govuk-radios__label" for="checkGrantPaymentForm-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            {{ govukButton({ text: "Continue" }) }}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
