{% extends "layout.html" %}

{% block pageTitle %}
  Complete conversions transfers and changes
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {% include "../includes/phase.html" %}
  <a href="../project-task-list" class="govuk-back-link">Back to task list</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="email-form-to-ESFA" method="post" class="form">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <span class="govuk-caption-l">St. Wilfred's Primary School</span>
                  <h1 class="govuk-fieldset__heading">You you emailed the
                    required documents to the Education and Skills Funding
                    Agency (ESFA)?</h1>
                </legend>
                <div id="sign-in-hint" class="govuk-hint">
                  The ESFA usually needs to the application to convert, academy
                  order and grant payment form.
                </div>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="checkEmailEsfa" name="checkEmailEsfa" type="radio" value="Yes" {{ checked("checkEmailEsfa", "Yes") }}>
                    <label class="govuk-label govuk-radios__label" for="checkEmailEsfa">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="checkEmailEsfa-2" name="checkEmailEsfa" type="radio" value="No" {{ checked("checkEmailEsfa", "No") }}>
                    <label class="govuk-label govuk-radios__label" for="checkEmailEsfa-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            {{ govukButton({ text: "Continue" }) }}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
