{% extends "layout.html" %}

{% block pageTitle %}
  Complete conversions transfers and changes
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {% include "../includes/phase.html" %}
  <a href="../project-task-list" class="govuk-back-link">Back to task list</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="single-page-questions" method="post" class="form">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <div class="govuk-form-group govuk-!-margin-bottom-9">
                  <span class="govuk-caption-xl">St. Wilfred's Primary School</span>
                  <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Redact
                    and send documents</h1>
                  <div class="govuk-hint">
                    Documents relating to the conversion will be added to GOV.UK.
                    These must be redacted to remove sensitive information. Once
                    redacted, email them to the funding team at <a href="mailto:FundingAgreements.CONVERTERS@education.gov.uk" class="govuk-link">
                      FundingAgreements.CONVERTERS@education.gov.uk</a>.
                  </div>
                </div>
                <div class="govuk-checklist__group">
                  <div class="govuk-checkboxes govuk-checkboxes__checklist" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="externalStakeHolderKickoff" name="externalStakeHolderKickoff" type="checkbox" value="sendIntroductoryEmails" {{ checked("externalStakeHolderKickoff", "sendIntroductoryEmails") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="externalStakeHolderKickoff">
                        Redact all relevant documents
                      </label>
                      <div class="govuk-checkboxes__guidance">
                        <details class="govuk-details" data-module="govuk-details">
                          <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              Help redacting the documents
                            </span>
                          </summary>
                          <div class="govuk-details__text">
                            <p class="govuk-body">You need to create a redacted
                              version of each document after they've been signed
                              by the Secretary of State. Once redacted, save the
                              documents in the school's SharePoint folder.</p>
                            <p class="govuk-body">You must remove or hide:</p>
                            <ul class="govuk-list govuk-list--bullet">
                              <li>names</li>
                              <li>signatures</li>
                              <li>home addresses</li>
                              <li>funding information</li>
                              <li>bank account details</li>
                              <li>information on the Secretary of State's seal</li>
                            </ul>
                            <p class="govuk-body">Required documents for each
                              conversion:</p>
                            <ul class="govuk-list govuk-list--bullet">
                              <li>Land questionnaire</li>
                              <li>Land registry title plans</li>
                              <li>Supplemental funding agreement</li>
                            </ul>
                            <p class="govuk-body">Depending on the project, you
                              may also need:</p>
                            <ul class="govuk-list govuk-list--bullet">
                              <li>Articles of association</li>
                              <li>Church supplemental agreement</li>
                              <li>Deed of variation</li>
                              <li>Direction to transfer</li>
                              <li>Master funding agreement</li>
                              <li>Trust modification order</li>
                            </ul>
                          </div>
                        </details>
                      </div>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="externalStakeHolderKickoff-2" name="externalStakeHolderKickoff" type="checkbox" value="KIM" >
                      <label class="govuk-label govuk-checkboxes__label" for="externalStakeHolderKickoff-2">
                        Send relevant documents to the funding team
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item" style="display: none;">
                      <input class="govuk-checkboxes__input" id="externalStakeHolderKickoff-7" name="externalStakeHolderKickoff" type="checkbox" value="empty" checked="empty">
                      <label class="govuk-label govuk-checkboxes__label" for="externalStakeHolderKickoff-7">
                        empty
                      </label>
                    </div>
                  </div>
                </div>
                <div class="govuk-form-group">
                  {{ govukButton({ text: "Continue" }) }}
                </div>
              </fieldset>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
