{% extends "0-34/layout.html" %}


{% block pageTitle %}
  Complete conversions transfers and changes
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
{% include "../../includes/phase.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <header class="govuk-!-margin-bottom-8">
        <span class="govuk-caption-l">School URN 102062 <span class="govuk-!-margin-left-1 govuk-tag govuk-tag--pink">Transfer</span></span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Witton-Le-Wear Primary School</h1>
        <dl class="govuk-summary-list dfe-summary-list--project-summary" id="project-summary">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Conversion date:</dt>
            <dd class="govuk-summary-list__value">1 October 2023</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Outgoing trust:</dt>
            <dd class="govuk-summary-list__value">Lipper Trust</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Incoming trust:</dt>
            <dd class="govuk-summary-list__value">Advance Learning Partnership</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">LA and region:</dt>
            <dd class="govuk-summary-list__value">Didington, North West</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">SharePoint links:</dt>
            <dd class="govuk-summary-list__value"><a target="_blank" href="https://educationgovuk.sharepoint.com/sites/ag/Tier_02/Forms/AllItems.aspx?viewpath=%2Fsites%2Fag%2FTier%5F02%2FForms%2FAllItems%2Easpx&amp;id=%2Fsites%2Fag%2FTier%5F02%2FDarlington%2FWhinfield%5FPrimary%5FSchool%5F8413515&amp;viewid=3cf6153c%2D7ad5%2D473d%2Dbc7e%2D82805fe702f5">School folder (opens in new tab)</a> | <a target="_blank" href="https://educationgovuk.sharepoint.com/sites/ag/Multi%20Academy%20Trusts/Forms/AllItems.aspx?id=%2Fsites%2Fag%2FMulti%20Academy%20Trusts%2FThe%5FEducation%5FVillage%5FAT%5FTR00729">Trust folder (opens in new tab)</a></dd>
          </div>
        </dl>
      </header>
      <nav class="sub-navigation" aria-label="Sub navigation">
        <ul class="sub-navigation__list">
          <li class="sub-navigation__item">
            <a class="sub-navigation__link" href="task-list">Task list</a>
          </li>
          <li class="sub-navigation__item">
            <a class="sub-navigation__link" href="about-the-project">About the project</a>
          </li>
          <li class="sub-navigation__item">
            <a class="sub-navigation__link" aria-current="page" href="notes">Notes</a>
          </li>
          <li class="sub-navigation__item">
            <a class="sub-navigation__link" href="internal-contacts">Internal contacts</a>
          </li>
          <li class="sub-navigation__item">
            <a class="sub-navigation__link" href="external-contacts">External contacts</a>
          </li>
        </ul>
      </nav>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-form-group">
            <h2 class="govuk-heading-l">Project notes</h2>
            {{ govukButton({ text: "Add project note" }) }}
            <span class="govuk-caption-m">29 July 2022</span>
            <h3 class="govuk-heading-m">Jo Wade</h3>
            <p class="govuk-body">The regional delivery officer came back with all
              the required documents so I can now book in a handover call.</p>
            <a href="#" class="govuk-link">Change</a>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            <span class="govuk-caption-m">22 July 2022</span>
            <h3 class="govuk-heading-m">Jo Wade</h3>
            <p class="govuk-body">Received the SharePoint folder but some things
              are missing, I've reached back out to the regional delivery officer
              to ask for these to be added in.</p>
            <a href="#" class="govuk-link">Change</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
