{% extends "layout.html" %}

{% block pageTitle %}
  Complete conversions transfers and changes
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {% include "../includes/phase.html" %}
  <a href="../project-task-list" class="govuk-back-link">Back to task list</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="single-page-questions" method="post" class="form">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <div class="govuk-form-group govuk-!-margin-bottom-9">
                  <span class="govuk-caption-xl">St. Wilfred's Primary School</span>
                  <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Check the
                    Academy readiness for opening checklist is complete</h1>
                  <div class="govuk-hint">
                    Confirm with the school and trust that they have completed
                    all the tasks on the checklist and save their responses in
                    SharePoint.
                  </div>
                </div>
                <div class="govuk-checklist__group">
                  <div class="govuk-checkboxes govuk-checkboxes__checklist" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="externalStakeHolderKickoff-5" name="externalStakeHolderKickoff" type="checkbox" value="hostKickOffMeeting" {{ checked("externalStakeHolderKickoff", "hostKickOffMeeting") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="externalStakeHolderKickoff-5">
                        Send the final checklist email to the school or trust
                      </label>
                      <div class="govuk-checkboxes__guidance">
                        <details class="govuk-details" data-module="govuk-details">
                          <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              How to structure your email
                            </span>
                          </summary>
                          <div class="govuk-details__text">
                            <p class="govuk-body">You should ask them to check
                              and confirm they've completed all tasks.</p>
                            <p class="govuk-body">You can use the
                              email template (opens in a new tab) on pages 19 <a href="https://educationgovuk.sharepoint.com/:w:/s/ServiceDeliveryDirectorate/EU-dQwiXf3NFmiPoiRABB_MBhO02xGbkBlhSifmDGiAnGA?e=Q9XOkA" target="_blank"></a>
                              and 20 in your desk instructions to help structure
                              your email.
                              conversion checklist (opens in a new tab)</a>
                              to guide the conversation and make sure you talk
                              about everything you need to.</p>
                          </div>
                        </details>
                      </div>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="externalStakeHolderKickoff" name="externalStakeHolderKickoff" type="checkbox" value="sendIntroductoryEmails" {{ checked("externalStakeHolderKickoff", "sendIntroductoryEmails") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="externalStakeHolderKickoff">
                        Check the trust has started the TUPE process
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item" style="display: none;">
                      <input class="govuk-checkboxes__input" id="externalStakeHolderKickoff-7" name="externalStakeHolderKickoff" type="checkbox" value="empty" checked="empty">
                      <label class="govuk-label govuk-checkboxes__label" for="externalStakeHolderKickoff-7">
                        empty
                      </label>
                    </div>
                  </div>
                </div>
                <div class="govuk-form-group">
                  {{ govukButton({ text: "Continue" }) }}
                </div>
              </fieldset>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
