{% extends "layouts/main.html" %}

{% block pageTitle %}
  Complete conversions transfers and changes
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {% include "../includes/phase.html" %}
  <a href="../project-task-list" class="govuk-back-link">Back to task list</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="check-answers" method="post" class="form">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <span class="govuk-caption-l">St. Wilfred's Primary School</span>
                  <h1 class="govuk-fieldset__heading">Check answers</h1>
                </legend>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Does the trust have a vendor account?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{data['checkVendorAccount']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="check-vendor-account">
                        Change<span class="govuk-visually-hidden"> Does the
                          trust have a vendor account?</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Have you completed the grant payment form?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{data['checkGrantPaymentForm']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="check-grant-payment-form">
                        Change<span class="govuk-visually-hidden"> What is the date for the kick-off call?</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      You you emailed the required documents to the ESFA?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{data['checkEmailEsfa']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="email-form-to-ESFA">
                        Change<span class="govuk-visually-hidden"> You you
                          emailed the required documents to the ESFA?</span>
                      </a>
                    </dd>
                  </div>
                </dl>
              </fieldset>
            </div>
            {{ govukButton({ text: "Continue" }) }}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
