{% extends "layout.html" %}

{% block pageTitle %}
  Complete conversions transfers and changes
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {% include "../includes/phase.html" %}
  <a href="../project-task-list" class="govuk-back-link">Back to task list</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="single-page-questions" method="post" class="form">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <div class="govuk-form-group">
                  <span class="govuk-caption-xl">St. Wilfred's Primary School</span>
                  <h1 class="govuk-heading-xl">Have you checked and cleared
                    the Land questionnaire?</h1>
                </div>
                <div id="changed-name-hint" class="govuk-hint">
                  <p class="govuk-body">Make sure that any proposals for the land meet legal requirements
                    and Ministerial preferences.</p>
                  <p class="govuk-body">You can
                  <a href="https://educationgovuk.sharepoint.com/sites/lvedfe00116/SitePages/Land-Transfer-and-shared-land-use.aspx" class="govuk-link" rel="noreferrer noopener" target="_blank">
                    use the land transfer advice and guidance to check for common problems (opens in new tab)</a>.</p>
                </div>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="clearLandQuestionnaire" name="clearLandQuestionnaire" type="radio" value="Yes, the Land questionnaire has been cleared" {{ checked("clearLandQuestionnaire", "Yes, the Land questionnaire has been cleared") }}>
                    <label class="govuk-label govuk-radios__label" for="clearLandQuestionnaire">
                      Yes, the Land questionnaire has been cleared
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="clearLandQuestionnaire-2" name="clearLandQuestionnaire" type="radio" value="No, I have the Land questionnaire but it cannot be cleared" {{ checked("clearLandQuestionnaire", "No, I have the Land questionnaire but it cannot be cleared") }}>
                    <label class="govuk-label govuk-radios__label" for="clearLandQuestionnaire-2">
                      No, I have the Land questionnaire but it cannot be cleared
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="clearLandQuestionnaire-3" name="clearLandQuestionnaire" type="radio" value="No, I have not received the Land questionnaire" {{ checked("clearLandQuestionnaire", "No, I have not received the Land questionnaire") }}>
                    <label class="govuk-label govuk-radios__label" for="clearLandQuestionnaire-3">
                      No, I have not received the Land questionnaire
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>


            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            {{ govukButton({ text: "Continue" }) }}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
