{% extends "layout.html" %}

{% block pageTitle %}
  Complete conversions transfers and changes
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {% include "./includes/phase.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Projects (6)
      </h1>
      <h2 class="govuk-heading-m">June openers</h2>
      <dl class="govuk-summary-list govuk-summary-list--school-details govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <h2 class="govuk-heading-m govuk-heading-m--school-name">
              <a href="#" class="govuk-link">Bridgewater County High School</a>
              <span>- URN 356790</span>
            </h2>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--purple">Post Advisory Board
              </strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Incoming trust:</span>
            TCAT The Challenge Academy Trust
          </dt>
          <dd class="govuk-summary-list__actions govuk-summary-list__project-type">
            Conversion
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">School phase / type:</span>
            Primary, Voluntary controlled school
          </dt>
          <dd class="govuk-summary-list__actions">
            Target opening date: 1 June 2022
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Local authority:</span>
            Wigan Borough Council
          </dt>
          <dd class="govuk-summary-list__actions">
            All conditions met: 14 May 2022
          </dd>
        </div>
      </dl>
      <dl class="govuk-summary-list govuk-summary-list--school-details govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <h2 class="govuk-heading-m govuk-heading-m--school-name">
              <a href="#" class="govuk-link">Eastview Grammar School</a>
              <span>- URN 231763</span>
            </h2>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--purple">Post Advisory Board
              </strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Incoming trust:</span>
            Creating Champions Academy Trust
          </dt>
          <dd class="govuk-summary-list__actions govuk-summary-list__project-type">
            Transfer
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">School phase / type:</span>
            Primary, Community special school
          </dt>
          <dd class="govuk-summary-list__actions">
            Target opening date: 1 June 2022
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Local authority:</span>
            Islington Borough Council
          </dt>
          <dd class="govuk-summary-list__actions">
            All conditions met: 14 May 2022
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">July openers</h2>
      <dl class="govuk-summary-list govuk-summary-list--school-details govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <h2 class="govuk-heading-m govuk-heading-m--school-name">
              <a href="project-task-list" class="govuk-link">St. Wilfred's Primary School</a>
              <span>- URN 120620</span>
            </h2>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--purple">Post Advisory Board
              </strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Incoming trust:</span>
            Dynamics Trust
          </dt>
          <dd class="govuk-summary-list__actions govuk-summary-list__project-type">
            Conversion
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">School phase / type:</span>
            Not applicable, Community special school
          </dt>
          <dd class="govuk-summary-list__actions">
            Target opening date: 1 July 2022
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Local authority:</span>
            Warrington Borough Council
          </dt>
          <dd class="govuk-summary-list__actions">
            All conditions met: 14 June 2022
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">August openers</h2>
      <dl class="govuk-summary-list govuk-summary-list--school-details">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <h2 class="govuk-heading-m govuk-heading-m--school-name">
              <a href="#" class="govuk-link">Sacred Heart Country Primary School</a>
              <span>- URN 345342</span>
            </h2>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--purple">Post Advisory Board
              </strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Incoming trust:</span>
            The Oxford Warriors Academy Trust
          </dt>
          <dd class="govuk-summary-list__actions govuk-summary-list__project-type">
            Change
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">School phase / type:</span>
            Not applicable, Foundation special school
          </dt>
          <dd class="govuk-summary-list__actions">
            Target opening date: 1 August 2022
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Local authority:</span>
            Oxford
          </dt>
          <dd class="govuk-summary-list__actions">
            All conditions met: 14 July 2022
          </dd>
        </div>
      </dl>
      <dl class="govuk-summary-list govuk-summary-list--school-details govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <h2 class="govuk-heading-m govuk-heading-m--school-name">
              <a href="#" class="govuk-link">Horsendale Primary School</a>
              <span>- URN 267890</span>
            </h2>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--purple">Post Advisory Board
              </strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Incoming trust:</span>
            Catalyst Academy Trust
          </dt>
          <dd class="govuk-summary-list__actions govuk-summary-list__project-type">
            Conversion
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">School phase / type:</span>
            Primary, Community school
          </dt>
          <dd class="govuk-summary-list__actions">
            Target opening date: 1 August 2022
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Local authority:</span>
            Primary, Community school
          </dt>
          <dd class="govuk-summary-list__actions">
            All conditions met: 14 July 2022
          </dd>
        </div>
      </dl>
      <dl class="govuk-summary-list govuk-summary-list--school-details govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <h2 class="govuk-heading-m govuk-heading-m--school-name">
              <a href="#" class="govuk-link">Abbey Park Middle School</a>
              <span>- URN 345342</span>
            </h2>
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--purple">Post Advisory Board
              </strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Incoming trust:</span>
            Catalyst Academy Trust
          </dt>
          <dd class="govuk-summary-list__actions govuk-summary-list__project-type">
            Conversion
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">School phase / type:</span>
            Middle deemed primary, Community school
          </dt>
          <dd class="govuk-summary-list__actions">
            Target opening date: 1 August 2022
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <span class="govuk-!-font-weight-bold">Local authority:</span>
            Oxford
          </dt>
          <dd class="govuk-summary-list__actions">
            All conditions met: 14 July 2022
          </dd>
        </div>
      </dl>
    </div>
  </div>
{% endblock %}
