{% extends "layouts/main.html" %}

{% block pageTitle %}
  Complete conversions transfers and changes
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {% include "../includes/phase.html" %}
  <a href="../project-task-list" class="govuk-back-link">Back to task list</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="single-page-questions" method="post" class="form">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <div class="govuk-form-group">
                  <span class="govuk-caption-xl">St. Wilfred's Primary School</span>
                  <h1 class="govuk-heading-xl">Have you cleared the Direction to
                    transfer?</h1>
                </div>
                <div id="changed-name-hint" class="govuk-hint">
                  Only foundation schools need a Direction to transfer.
                </div>
                <div id="changed-name-hint" class="govuk-hint">You can <a href="https://www.get-information-schools.service.gov.uk/Search" class="govuk-link" rel="noreferrer noopener" target="_blank">
                  search Get Information About Schools (opens in new tab)</a> to check if it's needed for this school.
                </div>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="clearDirectionToTransfer" name="clearDirectionToTransfer" type="radio" value="Yes, the Direction to transfer has cleared" {{ checked("clearDirectionToTransfer", "Yes, the Direction to transfer has cleared") }}>
                    <label class="govuk-label govuk-radios__label" for="clearDirectionToTransfer">
                      Yes, the Direction to transfer has cleared
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="clearDirectionToTransfer-2" name="clearDirectionToTransfer" type="radio" value="No, I have the Direction to transfer but it cannot be cleared" {{ checked("clearDirectionToTransfer", "No, I have the Direction to transfer but it cannot be cleared") }}>
                    <label class="govuk-label govuk-radios__label" for="clearDirectionToTransfer-2">
                      No, I have the Direction to transfer but it cannot be cleared
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="clearDirectionToTransfer-3" name="clearDirectionToTransfer" type="radio" value="No, I have not received the Direction to transfer" {{ checked("clearDirectionToTransfer", "No, I have not received the Direction to transfer") }}>
                    <label class="govuk-label govuk-radios__label" for="clearDirectionToTransfer-3">
                      No, I have not received the Direction to transfer
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            {{ govukButton({ text: "Continue" }) }}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
