{% extends "layouts/main.html" %}

{% block pageTitle %}
  Set up prototype | {{serviceName}}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Set up prototype
      </h1>
      <p class="govuk-body">Change the options below to set up the prototype.
        Use the clear data link in the footer to reset the prototype.</p>
      <form action="set-up" method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h2 class="govuk-fieldset__heading">
                No options can currently be configured.
              </h2>
            </legend>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>
{% endblock %}
