{% extends "layout.html" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{serviceName}}
      </h1>
      <h2 class="govuk-heading-m">v0.1</h2>
      <p class="govuk-body">Summary of features for this version:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a href="https://dfe-gov-uk.visualstudio.com.mcas.ms/Academies-and-Free-Schools-SIP/_workitems/edit/98774">
            Build the project task list so that we can use the prototype for
            user research. This is based off the Figma doc.</a></p>
            <p class="govuk-body"><a href="https://www.figma.com/file/GMaSKCSfWqYwA6Sejky54S/DesignOps---SDD-Prototypes?node-id=9776%3A143196" class="govuk-link" rel="noreferrer noopener" target="_blank">
              Figma link (opens in new tab)</a></p>
        </li>
        <li><a href="https://dfe-gov-uk.visualstudio.com.mcas.ms/Academies-and-Free-Schools-SIP/_workitems/edit/98774">Initial setup of the prototype to match the Figma docs</a></li>
      </ul>
      <p>
        <a href="0-1/start">View</a>
      </p>
    </div>
  </div>


{% endblock %}
