{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{serviceName}}
      </h1>
      <h2 class="govuk-heading-m">v0.28</h2>
      <p><a class="govuk-link" href="0-28/project-list/caseworker/active?userType=caseworker">Prototype</a> |
        <a class="govuk-link" href="0-28/set-up">Set up</a> |
        <a class="govuk-link" href="user-research-artifacts/contents">User research artifacts</a> |
        <a class="govuk-link" href="https://design-histories.education.gov.uk/complete-conversions-transfers-and-changes" rel="noreferrer noopener" target="_blank">Design history (new tab)</a></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
            Update various table views with columns for transfers based on recent user feedback (<a href="https://trello.com/c/xrPDM5jX/1978-prototype-tables-with-added-columns-for-transfers">Trello</a>):
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="0-28/project-list/all/in-progress">All projects in progress</a></li>
          </ul>
        </li>
      </ul>
      <h2 class="govuk-heading-m">v0.26</h2>
      <p><a class="govuk-link" href="0-26/project-list/caseworker/active?userType=caseworker">Prototype</a> |
        <a class="govuk-link" href="0-26/set-up">Set up</a> |
        <a class="govuk-link" href="user-research-artifacts/contents">User research artifacts</a> |
        <a class="govuk-link" href="https://design-histories.education.gov.uk/complete-conversions-transfers-and-changes" rel="noreferrer noopener" target="_blank">Design history (new tab)</a></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
            Improve external contact change link. (<a href="./0-26/project-external-contacts#school-contacts">View</a> | <a href="https://trello.com/c/rbvR4S9z/1656-improve-external-contact-change-link-your-projects-view">Trello</a>)
        </li>
        <li>
            <a href="https://trello.com/c/o1RZ3uD7/1852-move-prototype-to-v26-add-dfe-design-system-header">Add DfE design system header.</a>
        </li>
        <li>
            <a href="https://trello.com/c/o1RZ3uD7/1852-move-prototype-to-v26-add-dfe-design-system-header">Move prototype to v26.</a>
        </li>
      </ul>
      <h2 class="govuk-heading-m">v0.25</h2>
      <p><a class="govuk-link" href="0-25/project-list/caseworker/active?userType=caseworker">Prototype</a> |
        <a class="govuk-link" href="0-25/set-up">Set up</a> |
        <a class="govuk-link" href="user-research-artifacts/contents">User research artifacts</a> |
        <a class="govuk-link" href="https://design-histories.education.gov.uk/complete-conversions-transfers-and-changes" rel="noreferrer noopener" target="_blank">Design history (new tab)</a></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
            Update project view layouts to allow for better readability and use of space within a 1200px wrapper:
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/0-25/project-task-list">Task list</a></li>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/0-25/regional-delivery-officer-handover/single-page-questions">Handover with regional delivery officer</a></li>
              <li><a href="/0-25/external-stakeholder-kick-off/single-page-questions">External stakeholder kick-off</a></li>
            </ul>
            <li><a href="/0-25/project-information">Project information</a></li>
            <li><a href="/0-25/project-notes">Notes</a></li>
            <li><a href="/0-25/project-external-contacts">External contacts</a></li>
            <li><a href="/0-25/project-internal-contacts">Internal contacts</a></li>
          </ul>
        </li>
        <li>
          <p class="govuk-body">
            <a class="govuk-link" href="/0-25/project-list-2/all/opening">
              Add new projects opening as planned view v2.
            </a>
          </p>
        </li>
         <li>
          <p class="govuk-body">
            <a class="govuk-link" href="/0-25/project-list/all/opening">
              Add new projects opening as planned view v1.
            </a>
          </p>
        </li>
        <li>
          <p class="govuk-body">
            <a class="govuk-link" href="/0-25/project-list-2/all/in-progress">
              Add in all projects view v2.
            </a>
          </p>
        </li>
        <li>
          <p class="govuk-body">
            <a class="govuk-link" href="/0-25/project-list/all/in-progress">
              Add in all projects view v1.
            </a>
          </p>
        </li>
        <li>
          <p class="govuk-body">
            <a class="govuk-link" href="/0-25/project-list-2/team-lead/unassigned">
              Add new unassigned view v2.
            </a>
          </p>
        </li>
        <li>
          <p class="govuk-body">
            <a class="govuk-link" href="/0-25/project-list/team-lead/unassigned">
              Add new unassigned view v1.
            </a>
          </p>
        </li>
        <li>
          <p class="govuk-body">
            <a class="govuk-link" href="https://trello.com/c/RhOnOiTQ/1612-find-out-if-we-can-increase-the-width-of-the-app-wrapper-upwards-of-1024px">
              Increase app wrapper to 1200px.
            </a>
          </p>
        </li>
        <li>
          <p class="govuk-body">
            <a class="govuk-link" href="https://trello.com/c/U1BXrPgu/1777-move-prototype-to-v25">
              Move to v25 and do housekeeping.
            </a>
          </p>
        </li>
      </ul>
      <h2 class="govuk-heading-m">v0.18</h2>
      <p><a class="govuk-link" href="0-18/project-list/caseworker/active?userType=caseworker">Prototype</a> |
        <a class="govuk-link" href="0-18/set-up">Set up</a> |
        <a class="govuk-link" href="user-research-artifacts/contents">User research artifacts</a> |
        <a class="govuk-link" href="https://design-histories.education.gov.uk/complete-conversions-transfers-and-changes" rel="noreferrer noopener" target="_blank">Design history (new tab)</a></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/fwJdlNfK/1184-housekeeping-closed-projects-becomes-completed-projects">
            Move to v18 and do housekeeping, closed becomes completed.</a></p>
        </li>
      </ul>
      <h2 class="govuk-heading-m">v0.17 What schools are converting in a given month</h2>
      <p><a class="govuk-link" href="0-17/project-list/caseworker/active?userType=caseworker">Prototype</a> |
        <a class="govuk-link" href="0-17/set-up">Set up</a> |
        <a class="govuk-link" href="user-research-artifacts/contents">User research artifacts</a> |
        <a class="govuk-link" href="https://design-histories.education.gov.uk/complete-conversions-transfers-and-changes" rel="noreferrer noopener" target="_blank">Design history (new tab)</a></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a class="govuk-link" href="./0-17/academies-opening/academies-slipped">
            Add in an academies slipped view.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/XHctwKfk/1167-decide-what-we-want-to-do-about-high-level-application-navigation">
            Introduce concept of higher level navigation.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/UcJAjkVf/1183-sketch-group-design-in-prototype">
            Make the group design in the prototype so that it can be shared
            and/or used for testing.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/CsQYgR0H/1119-iterate-prototype-to-sprint-16">
            Prep work - a way for users to understand which schools will convert
            within a given month. Also increments to sprint 17.</a></p>
        </li>
      </ul>
      <h2 class="govuk-heading-m">v0.16 </h2>
      <p><a class="govuk-link" href="0-16/project-list/caseworker/active">Prototype</a> |
        <a class="govuk-link" href="0-16/set-up">Set up</a> |
        <a class="govuk-link" href="user-research-artifacts/contents">User research artifacts</a> |
        <a class="govuk-link" href="https://design-histories.education.gov.uk/complete-conversions-transfers-and-changes" rel="noreferrer noopener" target="_blank">Design history (new tab)</a></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/JEQFscpj/1138-task-list-is-no-longer-indented-on-task-list-page">
            Task list is no longer indented so that we are following a standard
            implementation.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/CsQYgR0H/1119-iterate-prototype-to-sprint-16">
            Increment to sprint 16.</a></p>
        </li>
      </ul>
      <h2 class="govuk-heading-m">v0.15 User assignement</h2>
      <p><a class="govuk-link" href="0-15/project-list/caseworker/active">Prototype</a> |
        <a class="govuk-link" href="0-15/set-up">Set up</a> |
        <a class="govuk-link" href="user-research-artifacts/contents">User research artifacts</a> |
        <a class="govuk-link" href="https://design-histories.education.gov.uk/complete-conversions-transfers-and-changes" rel="noreferrer noopener" target="_blank">Design history (new tab)</a></p>
      <p class="govuk-body">Work was done on the prototype to cement various
        ideas and sketches in Lucid and to try and drive us past user
        assignement.
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body">DfE people involved in the project as shown
            on a discreet page. Tweaks to make contacts explicitly non-DfE
            people
          </p>
        </li>
        <li>
          <p class="govuk-body">Create project journey made in prototype. Also
            includes a question to ask what team to assign the work to.
          </p>
        </li>
        <li>
          <p class="govuk-body">Team lead gets bespoke project list with assign
            button. Project list assign button links directly to assign
            caseworker then back to project list.
          </p>
        </li>
        <li>
          <p class="govuk-body">Increment to sprint 15</p>
        </li>
      </ul>
      <h2 class="govuk-heading-m">v0.12.1 Land issues tech constraints</h2>
      <p><a class="govuk-link" href="0-12-1/start">Prototype</a> |
        <a class="govuk-link" href="0-12-1/set-up">Set up</a> |
        <a class="govuk-link" href="user-research-artifacts/contents">User research artifacts</a> |
        <a class="govuk-link" href="https://design-histories.education.gov.uk/complete-conversions-transfers-and-changes" rel="noreferrer noopener" target="_blank">Design history (new tab)</a></p>
      <p class="govuk-body">When we played the work back to the devs, they
        highlighted and issue with the status tag connecting with the inputs.
        We need to have checkboxes and links to each input so the status tags
        can work consistently.
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/OvtGDdxI/880-prototype-describe-outstanding-land-issues">
          Iterate land requirements for tech simplicity</a></p>
        </li>
      </ul>
      <h2 class="govuk-heading-m">v0.12 Land issues/single worksheet and
         Housekeeping</h2>
      <p><a class="govuk-link" href="0-12/start">Prototype</a> |
        <a class="govuk-link" href="0-12/set-up">Set up</a> |
        <a class="govuk-link" href="user-research-artifacts/contents">User research artifacts</a> |
        <a class="govuk-link" href="https://design-histories.education.gov.uk/complete-conversions-transfers-and-changes" rel="noreferrer noopener" target="_blank">Design history (new tab)</a></p>
      <p class="govuk-body">We wanted to try and remove the single worksheet,
        this sprint we looked at capturing the information from the service.
        We also updated the prototype to v13
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/OvtGDdxI/880-prototype-describe-outstanding-land-issues">
          Add in task describe outstanding land requirements so that we can get
          rid of the single worksheet</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/WI0L7k10/856-update-prototype-kit-to-latest-version">
          Update to prototype kit v13</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/RshClEq8/857-remove-design-history-from-prototype">
            Remove design history from the repo and link to the new DfE content
            management system.</a></p>
        </li>
      </ul>
      <h2 class="govuk-heading-m">v0.9 Working out how a user ends the
        conversion project,
      </h2>
      <p><a class="govuk-link" href="0-9/start">Prototype</a> |
        <a class="govuk-link" href="0-9/set-up">Set up</a> |
        <a class="govuk-link" href="user-research-artifacts/contents">User research artifacts</a> |
        <a class="govuk-link" href="https://design-histories.education.gov.uk/complete-conversions-transfers-and-changes" rel="noreferrer noopener" target="_blank">Design history (new tab)</a></p>
      <p class="govuk-body">Summary of features for this version:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/NXZMptVv/647-the-big-green-button-close-project">
          Add the big green button / close project journey</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/gXTbmzKO/659-increment-the-prototype">
          Increment the prototype to v0.9</a></p>
        </li>
      </ul>
      <h2 class="govuk-heading-m">v0.8 Implementing feedback on sections 3 and 4
        in the task list. Starting to think about things like privacy notices.
      </h2>
      <p><a class="govuk-link" href="0-8/start">Prototype</a> |
        <a class="govuk-link" href="0-8/set-up">Set up</a> |
        <a class="govuk-link" href="user-research-artifacts/contents">User research artifacts</a> |
        <a class="govuk-link" href="https://design-histories.education.gov.uk/complete-conversions-transfers-and-changes" rel="noreferrer noopener" target="_blank">Design history (new tab)</a></p>
      <p class="govuk-body">Summary of features for this version:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/Ae2lwvNX/597-content-iterations-from-sprint-7-post-opening-tasks">
          Making content changes after sprint 7 research</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/BzxSzfBN/607-status-tag-complete-becomes-completed">
          Complete becomes completed</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/Mpftsw7h/344-create-privacy-policy-for-our-service">
          Add privacy notice content</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/rYPWe3ac/341-add-support-information-to-footer">
          Update footer to handle accessibility statement, privacy policy,
          cookies statement, email for support, etc</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/L7uctZRX/380-users-can-add-task-notes-to-communicate-useful-information-about-a-task">
          Prototype adding project level notes</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/pkmFryhY/583-iterate-prototype-for-sprint-8">
          Increment the prototype to v0.8</a></p>
        </li>
      </ul>
      <h2 class="govuk-heading-m">v0.7 Build out the second half of the task
        list for user research
      </h2>
      <p><a class="govuk-link" href="0-7/start">Prototype</a> |
        <a class="govuk-link" href="0-7/set-up">Set up</a> |
        <a class="govuk-link" href="user-research-artifacts/contents">User research artifacts</a> |
        <a class="govuk-link" href="https://design-histories.education.gov.uk/complete-conversions-transfers-and-changes" rel="noreferrer noopener" target="_blank">Design history (new tab)</a></p>
      <p class="govuk-body">Summary of features for this version:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/Ab8C8juO/576-iterations-to-get-ready-for-opening-and-complete-the-project-for-user-research">
          Iterate Get ready for opening and Project close sections before user
          research</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/1efIZch9/528-prototype-project-close-section">
          Build the project close section</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/L3QIvgh5/556-iterate-get-ready-for-opening-section">
          Iterations to the Get ready for opening section for user research</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/SIB1pgD2/489-increment-prototype-to-v6">
          Build the Get ready for opening section of the task list (section 3),
          and increment the prototype to v0.7</a></p>
        </li>
      </ul>
      <h2 class="govuk-heading-m">v0.6 Improve guidance and check boxes, work on
        second half of task list
      </h2>
      <p><a class="govuk-link" href="0-6/start">Prototype</a> |
        <a class="govuk-link" href="0-6/set-up">Set up</a> |
        <a class="govuk-link" href="user-research-artifacts/contents">User research artifacts</a> |
        <a class="govuk-link" href="https://design-histories.education.gov.uk/complete-conversions-transfers-and-changes" rel="noreferrer noopener" target="_blank">Design history (new tab)</a></p>
      <p class="govuk-body">Summary of features for this version:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/W7VcmA4g/511-mock-up-a-clear-view-of-the-new-page-format-in-the-prototype">
          Iterate legal docs section so that it has the new checklist and
          guidance pattern.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/XJGQVvlZ/274-users-can-complete-the-project-kick-off-tasks">
          Final guidance/layout for project kick off</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/EvsxcQUi/490-prototype-process-conversion-grant-uses-check-list">
          Process conversion grant has a checklist and improved guidance</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/SIB1pgD2/489-increment-prototype-to-v6">
          Increment the prototype to v0.6</a></p>
        </li>
      </ul>
      <h2 class="govuk-heading-m">v0.5 Get first half of task list ready for production</h2>
      <p><a class="govuk-link" href="0-5/start">Prototype</a> |
        <a class="govuk-link" href="0-5/set-up">Set up</a> |
        <a class="govuk-link" href="user-research-artifacts/contents">User research artifacts</a> |
        <a class="govuk-link" href="https://design-histories.education.gov.uk/complete-conversions-transfers-and-changes" rel="noreferrer noopener" target="_blank">Design history (new tab)</a></p>
      <p class="govuk-body">Much of the work was doing in Lucid, we decided to
        bring the prototype closer to production (check lists) as we may need to
        use it for beta.</p>
      <p class="govuk-body">Summary of features for this version:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/I80RKDfr/436-change-references-to-supplementary-funding-agreement-to-supplemental-funding-agreement-so-that-its-right-in-app-and-prototype">
            Supplementary funding agreement becomes supplemental funding
            agreement</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/kfYdTqsW/412-contacts-are-asssociated-to-their-organisation">
          Add a test checklist page to figure out how to make make them work
          correctly, e.g. status tags work with checklists</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/kfYdTqsW/412-contacts-are-asssociated-to-their-organisation">
          Add rough version of contacts based on existing dev work</a></p>
          <p class="govuk-body"><a class="govuk-link" href="https://lucid.app/lucidspark/cfc64884-4dab-4f04-b908-a5c90040bf5d/edit?beaconFlowId=D5F59F18F82A17A1&invitationId=inv_6ac0e300-c51e-44e0-bb9a-cf5f2e589a00#">
            Incremental sketch in Lucid</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/WyXlp6za/402-increment-prototype-to-v05">
          Increment the prototype to v0.5</a></p>
        </li>
      </ul>
      <h2 class="govuk-heading-m">v0.4 Refining the first half of the task list</h2>
      <p><a class="govuk-link" href="0-4/start">Prototype</a> |
        <a class="govuk-link" href="0-4/set-up">Set up</a> |
        <a class="govuk-link" href="user-research-artifacts/contents">User research artifacts</a> |
        <a class="govuk-link" href="https://design-histories.education.gov.uk/complete-conversions-transfers-and-changes" rel="noreferrer noopener" target="_blank">Design history (new tab)</a></p>
      <p class="govuk-body">Summary of features for this version:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/krki3BXC/401-finalise-order-of-legal-documents">
          Finalise order of the legal documents based on casework feedback</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/TAxlt4xB/388-task-list-is-ordered-based-on-case-worker-trackers">
          This work puts the legal documents in the order caseworkers put them
          in their individual trackers.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/lTqiq8F7/210-rename-after-completion-task-section">
          User research indicated that having many documents grouped on a single
          page could be overwhelming. This work looks at making each document
          it's own task, we hope it make finding a document and amending it's
          status easier, and that its easier to identify a document's status.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/lTqiq8F7/210-rename-after-completion-task-section">
          Rename after opening section to be `Completing the project`.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/U8rERdwQ/378-change-prototype-only-be-single-page">
          We are confident that showing multiple questions per page is the right
          thing for caseworkers. This work looks at removing the multipage
          journey from this version of the prototype.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/TDdT0Icq/253-iterate-the-prototype">
          Increment the prototype to v0.4</a></p>
        </li>
      </ul>
      <h2 class="govuk-heading-m">v0.3 Iterating the first half of the task list</h2>
      <p><a class="govuk-link" href="0-3/start">Prototype</a> |
        <a class="govuk-link" href="0-3/set-up">Set up</a> |
        <a class="govuk-link" href="0-3/user-research-artifacts/contents">User research artifacts</a> |
        <a class="govuk-link" href="https://design-histories.education.gov.uk/complete-conversions-transfers-and-changes" rel="noreferrer noopener" target="_blank">Design history (new tab)</a></p>
      <p class="govuk-body">Summary of features for this version:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/hnZahd7A/320-master-main-funding-agreement-name-change-in-prototype">
            Replace Main Funding Agreement with master Funding Agreement.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/QZFApNhV/254-update-design-history-in-prototype">
            Adding design history into prototype.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/ZFyaWDxP/331-iterate-handover-based-on-user-research">
            Iterate handover task based on user research.</a> It suggested that we
            did not need to ask if documents had been checked only guidance, as
            that behaviour was already exhibited by case workers.</p>
          <p class="govuk-body">Also we care about the date the regional delivery
            handover was completed, not that is was, because case workers have
            SLAs.</p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/R5RJg0Ze/313-epic-toggle-between-single-and-multipage-journeys">
            Add project notes to the prototype.</a> Users have repeatedly
            expressed a need keep notes on the current state of a conversion,
            this is to leave notes to themselves and to give context if someone
            else picks up the project due to leave.</p>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/R5RJg0Ze/313-epic-toggle-between-single-and-multipage-journeys">
            This work covers adding a way to toggle between single and multi
            page journeys, it also includes the work to make this work for the
            first task.</a></p>
          <p class="govuk-body">sub tickets:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="https://trello.com/c/StpZNSjq/233-way-to-toggle-between-single-and-multipage-journeys">
              foundation work and handover with regional delivery officer</a></li>
            <li><a class="govuk-link" href="https://trello.com/c/5g5rvYgR/312-external-stakeholder-kickoff-can-toggle-between-single-and-multipage-journeys">
              external stakeholder kick-off</a></li>
            <li><a class="govuk-link" href="https://trello.com/c/Sv82RkOE/315-process-conversion-grant-can-toggle-between-single-and-multipage-journeys">
              process conversion grant</a></li>
            <li><a class="govuk-link" href="https://trello.com/c/ZQw8uLYQ/316-land-questionnaire-and-land-registry-title-can-toggle-between-single-and-multipage-journeys">
              land questionnaire and land registry title</a></li>
            <li><a class="govuk-link" href="https://trello.com/c/kg6GEGLj/324-additional-documents-can-toggle-between-single-and-multipage-journeys">
              additional documents</a></li>
          </ul>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/N65VpoQU/280-iterate-land-questionnaire-task-prototype">
            Iterate land questionnaire task. This broadly looks at improving
            general guidance, linking to resources and updating what docs are
            needed and improving the responses so users can more confidently
            pick the appropriate option.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/GwClhRP8/281-iterate-additional-docs">
            Iterate additional documents task. This broadly looks at improving
            general guidance, linking to resources and updating what docs are
            needed. E.g. conversions only need the deed of variation not the
            deed of novation and variation</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/IUAhTFb0/278-iterate-process-conversion-grant-task">
            Iterate process conversion grant task. This broadly looks at improving
            general guidance.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/LybjiKPp/273-iterate-stake-holder-kickoff">
            Iterate stakeholder kickoff tasks. This broadly looks at improving
            general guidance, removing acronyms and sometimes describing at a
            high level what the check should be.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/S5rRbPXD/268-project-information-key-info-iterations">
            Update key information so that all information should be populated
            when a project is picked up. This is information to identify the
            school and give a indication of when the project should be completed.
          </a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/Szqjqaio/211-rename-documents-in-prototype">
          Rename documents in prototype so that we do not use abbreviations. We
          use the names that caseworkers use.</a></p>
          </a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/TDdT0Icq/253-iterate-the-prototype">
          Iterate the prototype to v0.3</a></p>
        </li>
      </ul>
      <h2 class="govuk-heading-m">v0.2 Adding the project information tab</h2>
      <p><a class="govuk-link" href="0-2/start">Prototype</a> | <a class="govuk-link" href="0-2/user-research-artifacts/contents">User research artifacts</a></p>
      <p class="govuk-body">Summary of features for this version:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/SVSiJfXo/207-setup-working-status-tags">
          Status tags reflect a tasks status.
          </a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/fOGKY7HN/202-more-specific-reference-to-rdos-in-all-the-documents-question">
          Changing text in the all documents question to explicitly reference
          regional delivery officers. This should improve clarity for users.
          </a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/xmZeRp91/198-update-the-handover-task">
            This work looks at making a single page that shows all the handover
            questions so that we can test with user research.
          </a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/xmZeRp91/198-update-the-handover-task">
            This work looks at consolodating some of the handover journey by
            combining questions and removing unnecessary questions.
          </a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/nhQihOyc/192-update-project-information-tab">
            This work looks at updating the project information tab based on the
            chat with Corina. This should get the page ready for user research
          </a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/nhQihOyc/190-prototype-clear-supplementary-documents-journey">
            Build the additional documents journey.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/N7X4WEd8/185-prototype-local-authority-questionnaire">
            Build local authority questionnaire journey.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/t4rARDdE/183-prototype-process-conversion-grant">
            Build process conversion grant journey.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/t4rARDdE/165-update-prototype-with-iterated-task-list">
            Update task list based on SME feedback.</a></p>
          <p class="govuk-body">Changes summary:</p>
          <p class="govuk-body">Combining some sections into the welcome/kick
            off email as they would be sent together.</p>
          <p class="govuk-body">Reordering items to optimise the process e.g.
            signing documents should be done as soon as they are cleared as
            school's can take a long time to sort them out.</p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/EvmEPaje/134-recreate-the-project-information-tab-in-prototype">
            Add in the project information tab.</a></p>
          <p class="govuk-body">Changes summary:</p>
          <p class="govuk-body">Use navigation component for consistency with prepare for a conversion.</p>
          <p class="govuk-body">Add in current information from Figma doc.</p>
        </li>
      </ul>
      <h2 class="govuk-heading-m">v0.1 Initial build in code</h2>
      <p><a class="govuk-link" href="0-1/start">View</a></p>
      <p class="govuk-body">Summary of features for this version:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://trello.com/c/w4LCPn8x/105-prototype-sub-tasks">
            Create sub tasks for hand over task.</a></p>
          <p class="govuk-body">Changes summary:</p>
          <p class="govuk-body">This work looks at building an initial set up sub
            tasks that may be presented to the user as a discreet journey.</p>
          <p class="govul-body">The status tag of the parent task should update
            as the user submits information (this is not done yet)</p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://dfe-gov-uk.visualstudio.com.mcas.ms/Academies-and-Free-Schools-SIP/_workitems/edit/98774">
            Build the project task list so that we can use the prototype for
            user research. This is based off the Figma doc.</a></p>
          <p class="govuk-body">Changes summary:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Move incoming trust from right of task list to task list
              important component</li>
            <li>Make list based on Figma Doc</li>
            <li>Fix some inconsistencies such as URN and Trust name</li>
          </ul>
          <p class="govuk-body"><a class="govuk-link" href="https://www.figma.com/file/GMaSKCSfWqYwA6Sejky54S/DesignOps---SDD-Prototypes?node-id=9776%3A143196" class="govuk-link" rel="noreferrer noopener" target="_blank">
            Figma link (opens in new tab)</a></p>
        </li>
        <li><a class="govuk-link" href="https://dfe-gov-uk.visualstudio.com.mcas.ms/Academies-and-Free-Schools-SIP/_workitems/edit/98774">Initial setup of the prototype to match the Figma docs</a></li>
      </ul>
    </div>
  </div>


{% endblock %}
