{% extends "layout.html" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{serviceName}}
      </h1>
      <h2 class="govuk-heading-m">v0.2 Adding the project information tab</h2>
      <p><a href="0-2/start">View</a></p>
      <p class="govuk-body">Summary of features for this version:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a href="https://trello.com/c/t4rARDdE/183-prototype-process-conversion-grant">
            Build process conversion grant journey.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a href="https://trello.com/c/t4rARDdE/165-update-prototype-with-iterated-task-list">
            Update task list based on SME feedback.</a></p>
          <p class="govuk-body">Changes summary:</p>
          <p class="govuk-body">Combining some sections into the welcome/kick
            off email as they would be sent together.</p>
          <p class="govuk-body">Reordering items to optimise the process e.g.
            signing documents should be done as soon as they are cleared as
            school's can take a long time to sort them out.</p>
        </li>
        <li>
          <p class="govuk-body"><a href="https://trello.com/c/EvmEPaje/134-recreate-the-project-information-tab-in-prototype">
            Add in the project information tab.</a></p>
          <p class="govuk-body">Changes summary:</p>
          <p class="govuk-body">Use navigation component for consistency with prepare for a conversion.</p>
          <p class="govuk-body">Add in current information from Figma doc.</p>
        </li>
      </ul>
      <h2 class="govuk-heading-m">v0.1 Initial build in code</h2>
      <p><a href="0-1/start">View</a></p>
      <p class="govuk-body">Summary of features for this version:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a href="https://trello.com/c/w4LCPn8x/105-prototype-sub-tasks">
            Create sub tasks for hand over task.</a></p>
          <p class="govuk-body">Changes summary:</p>
          <p class="govuk-body">This work looks at building an initial set up sub
            tasks that may be presented to the user as a discreet journey.</p>
          <p class="govul-body">The status tag of the parent task should update
            as the user submits information (this is not done yet)</p>
        </li>
        <li>
          <p class="govuk-body"><a href="https://dfe-gov-uk.visualstudio.com.mcas.ms/Academies-and-Free-Schools-SIP/_workitems/edit/98774">
            Build the project task list so that we can use the prototype for
            user research. This is based off the Figma doc.</a></p>
          <p class="govuk-body">Changes summary:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Move incoming trust from right of task list to task list
              important component</li>
            <li>Make list based on Figma Doc</li>
            <li>Fix some inconsistencies such as URN and Trust name</li>
          </ul>
          <p class="govuk-body"><a href="https://www.figma.com/file/GMaSKCSfWqYwA6Sejky54S/DesignOps---SDD-Prototypes?node-id=9776%3A143196" class="govuk-link" rel="noreferrer noopener" target="_blank">
            Figma link (opens in new tab)</a></p>
        </li>
        <li><a href="https://dfe-gov-uk.visualstudio.com.mcas.ms/Academies-and-Free-Schools-SIP/_workitems/edit/98774">Initial setup of the prototype to match the Figma docs</a></li>
      </ul>
    </div>
  </div>


{% endblock %}
