{% extends "0-26/layout.html" %}


{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {% include "../includes/phase.html" %}
  <a href="/index" class="govuk-back-link">Back to index</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{serviceName}}
      </h1>
      <h2 class="govuk-heading-m">User research artifacts</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a href="project-kick-off-combined">
            Project kick off - single page view
          </a></p>
        </li>
      </ul>
    </div>
  </div>


{% endblock %}
