{% extends "layout.html" %}

{% block pageTitle %}
  Update and submit an Income Tax Return
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {% include "../includes/phase.html" %}
  <a href="../project-task-list" class="govuk-back-link">Back to task list</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="application-to-convert-url" method="post" class="form">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <span class="govuk-caption-l">St. Wilfred's Primary School</span>
                  <h1 class="govuk-fieldset__heading" for="trustModelDocsUrl">
                    What is the URL for the school's application to convert
                    document?</h1>
                </legend>
                <input class="govuk-input" id="trustModelDocsUrl" name="trustModelDocsUrl" type="text">
              </fieldset>
            </div>
            {{ govukButton({ text: "Continue" }) }}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
