{% extends "layout.html" %}

{% block pageTitle %}
  Update and submit an Income Tax Return
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {% include "../includes/phase.html" %}
  <a href="../project-task-list" class="govuk-back-link">Back to task list</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="check-application-to-convert" method="post" class="form">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <span class="govuk-caption-l">St. Wilfred's Primary School</span>
                  <h1 class="govuk-fieldset__heading">Is the application to
                    convert document correct?</h1>
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="applicationToConvertCorrect" name="applicationToConvertCorrect" type="radio" value="Yes, the application to convert document is correct" {{ checked("applicationToConvertCorrect", "Yes, the application to convert document is correct") }}>
                    <label class="govuk-label govuk-radios__label" for="applicationToConvertCorrect">
                      Yes, the application to convert document is correct
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="applicationToConvertCorrect-2" name="applicationToConvertCorrect" type="radio" value="No" {{ checked("applicationToConvertCorrect", "No") }}>
                    <label class="govuk-label govuk-radios__label" for="applicationToConvertCorrect-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            {{ govukButton({ text: "Continue" }) }}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
