{% extends "layout.html" %}

{% block pageTitle %}
  Update and submit an Income Tax Return
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {% include "../includes/phase.html" %}
  <a href="../project-task-list" class="govuk-back-link">Back to task list</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l">St. Wilfred's Primary School</span>
                <h1 class="govuk-fieldset__heading">Have you saved pro-forma in
                  the school's SharePoint folder?</h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="proformaInSharepoint" name="proformaInSharepoint" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="proformaInSharepoint">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="proformaInSharepoint-2" name="proformaInSharepoint" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="proformaInSharepoint-2">
                    No, but I have requested the pro-forma
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          {{ govukButton({ text: "Continue" }) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
