{% extends "layouts/main.html" %}

{% block pageTitle %}
  Projects | {{serviceName}}
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {% include "../../includes/phase.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Project list
      </h1>
      <form action="unassigned" method="post" class="form">
        <nav class="sub-navigation" aria-label="Sub navigation">
          <ul class="sub-navigation__list">
            <li class="sub-navigation__item">
              <a class="sub-navigation__link" href="unassigned">Unassigned projects</a>
            </li>
            <li class="sub-navigation__item">
              <a class="sub-navigation__link" href="active">Active projects</a>
            </li>
            <li class="sub-navigation__item">
              <a class="sub-navigation__link" aria-current="page" href="#">Closed projects</a>
            </li>
          </ul>
        </nav>
        <h2 class="govuk-heading-m">July openers</h2>
        <dl class="govuk-summary-list govuk-summary-list--school-details govuk-!-margin-bottom-9">
          <span class="govuk-caption-m">URN 120620</span>
          <h3 class="govuk-heading-m govuk-heading-m--school-name">
            <a href="../../project-task-list" class="govuk-link">Ye Olde School that has coverted</a>
          </h3>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              <span class="govuk-!-font-weight-bold">School type:</span>
              Community special school
            </dt>
            <dd class="govuk-summary-list__actions">
              <span class="govuk-!-font-weight-bold">Incoming trust:</span>
              Dynamics Trust
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              <span class="govuk-!-font-weight-bold">Local authority:</span>
              Warrington Borough Council
            </dt>
            <dd class="govuk-summary-list__actions">
              <span class="govuk-!-font-weight-bold">Completed by:</span>
              Lauren Bouchard
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              <span class="govuk-!-font-weight-bold">Completed on:</span>
              22 June 2021
            </dt>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
        </dl>
      </form>
    </div>
  </div>
{% endblock %}
