{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Prototype Kit " + releaseVersion
        },
        {
          href: "/0-8/footer-pages/accessibility-statement",
          text: "Accessibility statement"
        },
        {
          href: "/0-8/footer-pages/cookies",
          text: "Cookies"
        },
        {
          href: "/0-8/footer-pages/contact-us",
          text: "Contact us"
        },
        {
          href: "/0-8/footer-pages/privacy-notice",
          text: "Privacy notice"
        },
        {
          href: "/manage-prototype",
          text: "Manage your prototype"
        },
        {
          href: "/manage-prototype/clear-data",
          text: "Clear data"
        }
      ],
      visuallyHiddenTitle: "Footer links"
    }
  }) }}
{% endblock %}
